# Springboard Data Science Career Track Unit 4 Challenge - Tier 3 Complete

## Objectives
Hey! Great job getting through those challenging DataCamp courses. You're learning a lot in a short span of time. 

In this notebook, you're going to apply the skills you've been learning, bridging the gap between the controlled environment of DataCamp and the *slightly* messier work that data scientists do with actual datasets!

Here’s the mystery we’re going to solve: ***which boroughs of London have seen the greatest increase in housing prices, on average, over the last TWO DECADES?***


A borough is just a fancy word for district. You may be familiar with the five boroughs of New York… well, there are 32 boroughs within Greater London [(here's some info for the curious)](https://en.wikipedia.org/wiki/London_boroughs). Some of them are more desirable areas to live in, and the data will reflect that with a greater rise in housing prices.

***This is the Tier 3 notebook, which means it's not filled in at all: we'll just give you the skeleton of a project, the brief and the data. It's up to you to play around with it and see what you can find out! Good luck! If you struggle, feel free to look at easier tiers for help; but try to dip in and out of them, as the more independent work you do, the better it is for your learning!***

This challenge will make use of only what you learned in the following DataCamp courses: 
- Prework courses (Introduction to Python for Data Science, Intermediate Python for Data Science)
- Data Types for Data Science
- Python Data Science Toolbox (Part One) 
- pandas Foundations
- Manipulating DataFrames with pandas
- Merging DataFrames with pandas

Of the tools, techniques and concepts in the above DataCamp courses, this challenge should require the application of the following: 
- **pandas**
    - **data ingestion and inspection** (pandas Foundations, Module One) 
    - **exploratory data analysis** (pandas Foundations, Module Two)
    - **tidying and cleaning** (Manipulating DataFrames with pandas, Module Three) 
    - **transforming DataFrames** (Manipulating DataFrames with pandas, Module One)
    - **subsetting DataFrames with lists** (Manipulating DataFrames with pandas, Module One) 
    - **filtering DataFrames** (Manipulating DataFrames with pandas, Module One) 
    - **grouping data** (Manipulating DataFrames with pandas, Module Four) 
    - **melting data** (Manipulating DataFrames with pandas, Module Three) 
    - **advanced indexing** (Manipulating DataFrames with pandas, Module Four) 
- **matplotlib** (Intermediate Python for Data Science, Module One)
- **fundamental data types** (Data Types for Data Science, Module One) 
- **dictionaries** (Intermediate Python for Data Science, Module Two)
- **handling dates and times** (Data Types for Data Science, Module Four)
- **function definition** (Python Data Science Toolbox - Part One, Module One)
- **default arguments, variable length, and scope** (Python Data Science Toolbox - Part One, Module Two) 
- **lambda functions and error handling** (Python Data Science Toolbox - Part One, Module Four)

## The Data Science Pipeline

This is Tier Three, so we'll get you started. But after that, it's all in your hands! When you feel done with your investigations, look back over what you've accomplished, and prepare a quick presentation of your findings for the next mentor meeting. 

Data Science is magical. In this case study, you'll get to apply some complex machine learning algorithms. But as  [David Spiegelhalter](https://www.youtube.com/watch?v=oUs1uvsz0Ok) reminds us, there is no substitute for simply **taking a really, really good look at the data.** Sometimes, this is all we need to answer our question.

Data Science projects generally adhere to the four stages of Data Science Pipeline:
1. Sourcing and loading 
2. Cleaning, transforming, and visualizing 
3. Modeling 
4. Evaluating and concluding

### 1. Sourcing and Loading 

Any Data Science project kicks off by importing  ***pandas***. The documentation of this wonderful library can be found [here](https://pandas.pydata.org/). As you've seen, pandas is conveniently connected to the [Numpy](http://www.numpy.org/) and [Matplotlib](https://matplotlib.org/) libraries. 

***Hint:*** This part of the data science pipeline will test those skills you acquired in the pandas Foundations course, Module One.

#### 1.1. Importing Libraries

In [1]:
# Let's import the pandas, numpy libraries as pd, and np respectively. 
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt


pd.set_option('display.max_rows', 500)
pd.set_option('display.max_columns', 500)
pd.set_option('display.width', 1000)

#### 1.2.  Loading the data
Your data comes from the [London Datastore](https://data.london.gov.uk/): a free, open-source data-sharing portal for London-oriented datasets.

> **Notes:** Prior to looking at the data, I would investigate the source. Is the source reliable? Why or why not?

In [2]:
# First, make a variable called url_LondonHousePrices, and assign it the following link, enclosed in quotation-marks as a string:
# https://data.london.gov.uk/download/uk-house-price-index/70ac0766-8902-4eb5-aab5-01951aaed773/UK%20House%20price%20index.xls

url_LondonHousePrices = "https://data.london.gov.uk/download/uk-house-price-index/70ac0766-8902-4eb5-aab5-01951aaed773/UK%20House%20price%20index.xls"

# The dataset we're interested in contains the Average prices of the houses, 
# and is actually on a particular sheet of the Excel file. 
# As a result, we need to specify the sheet name in the read_excel() method.
# Put this data into a variable called properties.  
properties = pd.read_excel(url_LondonHousePrices, sheet_name='Average price', index_col=None)

---
### 2. Cleaning, transforming, and visualizing
This second stage is arguably the most important part of any Data Science project. The first thing to do is take a proper look at the data. z

Cleaning forms the majority of this stage, and can be done both before or after Transformation.

> **The end goal of data cleaning is to have tidy data. When data is tidy:** 
    1. Each variable has a column.
    2. Each observation forms a row.

Keep the end goal in mind as you move through this process, every step will take you closer. 



***Hint:*** This part of the data science pipeline should test those skills you acquired in: 
* Intermediate Python for data science, all modules.
- pandas Foundations, all modules. 
- Manipulating DataFrames with pandas, all modules.
- Data Types for Data Science, Module Four.
- Python Data Science Toolbox - Part One, all modules

---

> ### Workflow

> #### 2.1 Explore your Data
    * df.describe(), df.info()
    * df.columns, df.shape
    * df.head(), df.tail()
    
    Questions:
    1. Summarize the data in your own words. What question are you trying to answer?
    2. Which features/columns are you interested in?
    3. Describe the current df layout. Do the indices make sense?
    
    Be on the lookout for:
    1. nulls
    2. duplicates
    3. outliers

---

**2.1. Exploring your data** 

Think about your pandas functions for checking out a dataframe.

In [3]:
properties.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 305 entries, 0 to 304
Data columns (total 49 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Unnamed: 0            304 non-null    datetime64[ns]
 1   City of London        305 non-null    object
 2   Barking & Dagenham    305 non-null    object
 3   Barnet                305 non-null    object
 4   Bexley                305 non-null    object
 5   Brent                 305 non-null    object
 6   Bromley               305 non-null    object
 7   Camden                305 non-null    object
 8   Croydon               305 non-null    object
 9   Ealing                305 non-null    object
 10  Enfield               305 non-null    object
 11  Greenwich             305 non-null    object
 12  Hackney               305 non-null    object
 13  Hammersmith & Fulham  305 non-null    object
 14  Haringey              305 non-null    object
 15  Harrow                305 non-null    object
 16  Havering              305 non-null    object
 17  Hillingdon            305 non-null    object
 18  Hounslow              305 non-null    object
 19  Islington             305 non-null    object
 20  Kensington & Chelsea  305 non-null    object
 21  Kingston upon Thames  305 non-null    object
 22  Lambeth               305 non-null    object
 23  Lewisham              305 non-null    object
 24  Merton                305 non-null    object
 25  Newham                305 non-null    object
 26  Redbridge             305 non-null    object
 27  Richmond upon Thames  305 non-null    object
 28  Southwark             305 non-null    object
 29  Sutton                305 non-null    object
 30  Tower Hamlets         305 non-null    object
 31  Waltham Forest        305 non-null    object
 32  Wandsworth            305 non-null    object
 33  Westminster           305 non-null    object
 34  Unnamed: 34           0 non-null      float64
 35  Inner London          305 non-null    object
 36  Outer London          305 non-null    object
 37  Unnamed: 37           0 non-null      float64
 38  NORTH EAST            305 non-null    object
 39  NORTH WEST            305 non-null    object
 40  YORKS & THE HUMBER    305 non-null    object
 41  EAST MIDLANDS         305 non-null    object
 42  WEST MIDLANDS         305 non-null    object
 43  EAST OF ENGLAND       305 non-null    object
 44  LONDON                305 non-null    object
 45  SOUTH EAST            305 non-null    object
 46  SOUTH WEST            305 non-null    object
 47  Unnamed: 47           0 non-null      float64
 48  England               305 non-null    object
dtypes: datetime64[ns](1), float64(3), object(45)
memory usage: 116.9+ KB

In [4]:
# these are the only ones that came back because these are the only "float type"
# the unnamed: 34, 37, 47 refer to the column number (and how they are blank of NaN so
# all in all, these can be dropped)
properties.select_dtypes(include=['float64','int64']).head()

   Unnamed: 34  Unnamed: 37  Unnamed: 47
0          NaN          NaN          NaN
1          NaN          NaN          NaN
2          NaN          NaN          NaN
3          NaN          NaN          NaN
4          NaN          NaN          NaN

In [5]:
properties.head()

  Unnamed: 0 City of London Barking & Dagenham     Barnet     Bexley      Brent    Bromley     Camden    Croydon     Ealing    Enfield  Greenwich    Hackney Hammersmith & Fulham   Haringey     Harrow   Havering Hillingdon   Hounslow  Islington Kensington & Chelsea Kingston upon Thames    Lambeth   Lewisham     Merton     Newham  Redbridge Richmond upon Thames  Southwark     Sutton Tower Hamlets Waltham Forest Wandsworth Westminster  Unnamed: 34 Inner London Outer London  Unnamed: 37 NORTH EAST NORTH WEST YORKS & THE HUMBER EAST MIDLANDS WEST MIDLANDS EAST OF ENGLAND     LONDON SOUTH EAST SOUTH WEST  Unnamed: 47    England
0        NaT      E09000001          E09000002  E09000003  E09000004  E09000005  E09000006  E09000007  E09000008  E09000009  E09000010  E09000011  E09000012            E09000013  E09000014  E09000015  E09000016  E09000017  E09000018  E09000019            E09000020            E09000021  E09000022  E09000023  E09000024  E09000025  E09000026            E09000027  E09000028  E09000029     E09000030      E09000031  E09000032   E09000033          NaN    E13000001    E13000002          NaN  E12000001  E12000002          E12000003     E12000004     E12000005       E12000006  E12000007  E12000008  E12000009          NaN  E92000001
1 1995-01-01          91449            50460.2    93284.5    64958.1    71306.6    81671.5     120933    69158.2    79885.9    72514.7    62300.1    61296.5               124903    76287.6    84769.5    68000.1    73834.8    72231.7    92516.5               182695              80875.8      67771    60491.3    82070.6    53539.3    72189.6               109326    67885.2      71537       59865.2        61319.4      88559      133025          NaN        78252      72958.8          NaN    42076.4    43958.5            44803.4       45544.5       48527.5         56701.6    74435.8    64018.9    54705.2          NaN    53202.8
2 1995-02-01        82202.8            51085.8    93190.2    64787.9    72022.3    81657.6     119509    68951.1    80897.1    73155.2    60993.3    63187.1               122088    78901.2    83396.1    69393.5    75031.1    71051.6    94342.4               182345              81230.1    65381.5    60869.3    79982.7    53153.9    72141.6               111103    64799.1    70893.2       62318.5        60252.1      88641      131468          NaN      75885.7      72937.9          NaN      42572    43925.4            44528.8       46051.6       49341.3         56593.6    72777.9      63715    54356.1          NaN    53096.2
3 1995-03-01        79120.7              51269    92247.5    64367.5    72015.8    81449.3     120282    68712.4    81379.9    72190.4    61377.8    63593.3               120636    78521.9    83416.2      69368    74188.7      72098    93465.9               182879              81111.5    66336.5      60288    80661.7    53458.3    72501.4               107325    65763.3    70306.8       63938.7        60871.1    87124.8      132260          NaN      76591.6      72714.5          NaN    42369.7    44434.9            45200.5       45383.8       49442.2         56171.2    73896.8    64113.6    53583.1          NaN    53201.3
4 1995-04-01        77101.2            53133.5    90762.9    64277.7    72965.6    81124.4     120098      68610    82188.9    71442.9    61927.7    65139.6               121425    79545.6    83567.9    69444.3    73911.4    71890.3    93344.5               184177              81672.8    66388.8      59471    79990.5    54479.8    72228.6               106875    63073.6    69411.9       66233.2        60971.4      87026      133370          NaN      76851.6      72591.9          NaN    42095.8    44267.8            45614.3       46124.2       49455.9         56567.9    74455.3    64623.2      54786          NaN    53590.9

> **Notes:** We are interested only in the 32 boroughs of London. So after cleaning everything, really you drop those. The format of the excel is multi-layered.

- City of London:
    * list of 32 boroughs
- Inner London
    * total mean of list of inner boroughs (12)
- Outer London
    * boroughs (20) 
- England 
    * housing prices overall as whole (use for comparison)
    * inner + outer london total

In [6]:
properties.tail(5)

    Unnamed: 0 City of London Barking & Dagenham  Barnet  Bexley   Brent Bromley  Camden Croydon  Ealing Enfield Greenwich Hackney Hammersmith & Fulham Haringey  Harrow Havering Hillingdon Hounslow Islington Kensington & Chelsea Kingston upon Thames Lambeth Lewisham  Merton  Newham Redbridge Richmond upon Thames Southwark  Sutton Tower Hamlets Waltham Forest Wandsworth  Westminster  Unnamed: 34 Inner London Outer London  Unnamed: 37 NORTH EAST NORTH WEST YORKS & THE HUMBER EAST MIDLANDS WEST MIDLANDS EAST OF ENGLAND  LONDON SOUTH EAST SOUTH WEST  Unnamed: 47 England
300 2019-12-01         737275             301283  519306  336302  427126  438682  807124  369568  469662  400182    398024  552785               728698   565582  446900   365886     404843   409569    648969          1.23176e+06               487696  521705   413462  500651  360934    424631               655378    505499  372581        456436         437333     605560       960943          NaN       575132       423156          NaN     129504     164893             165818        194553        198644          290814  478576     321972     256577          NaN  248250
301 2020-01-01         747611             303653  518542  334765  423161  435532  815512  371227  466491  390589    396833  558321               740048   563151  447269   362423     406622   410277    667450          1.25104e+06               489690  526270   409749  501370  367017    422633               662919    499906  372982        463719         441446     605540  1.01165e+06          NaN       580408       422509          NaN     128401     165094             164752        196199        202085          290335  478489     323422     257822          NaN  248950
302 2020-02-01         777640             304265  519121  337760  467145  435704  825249  371357  465614  389901    402174  580773               748877   548652  455076   363699     406712   409794    675653          1.31317e+06               486805  524048   414526  500782  376713    422506               658932    499775  373644        473163         437879     610145  1.01658e+06          NaN       586789       424826          NaN     128142     166291             164949        194214        200196          290309  479628     319827     257101          NaN  248232
303 2020-03-01         844989             304099  527747  339215  461398  434625  870107  370872  478565  395082    404658  586842               742876   550296  456568   364658     412593   411748    670075           1.3444e+06               488389  521753   414411  509365  379837    426848               658654    504904  376708        482143         438596     614426  1.01398e+06          NaN       591783       427481          NaN     129047     168161             165685        198284        201369          291356  488185     326701     262444          NaN  251539
304 2020-04-01         867841             283139  526553  346840  494455  443482  870627  386738  502107  400695    389920  551629               719836   547124  465958   378747     405066   396030    706263          1.34895e+06               477450  513397   400987  529857  356915    435763               683248    508543  376808        480984         440354     607227  1.03449e+06          NaN       584234       431880          NaN     125938     167809             165561        200513        202093          295640  480425     327413     255891          NaN  250874

> Dates are from 05-1995 to 04-01-2020.

### 2.2. Cleaning the data

You might find you need to transpose your dataframe, check out what its row indexes are, and reset the index. 

You  also might find you need to assign the values of the first row to your column headings  . (Hint: recall the .columns feature of DataFrames, as well as the iloc[] method).

Don't be afraid to use StackOverflow for help  with this.

In [7]:
# transpose df
properties = properties.T

In [8]:
# row indexes
properties.index

# Don't we want the index to be time?

Index(['Unnamed: 0', 'City of London', 'Barking & Dagenham', 'Barnet', 'Bexley', 'Brent', 'Bromley', 'Camden', 'Croydon', 'Ealing', 'Enfield', 'Greenwich', 'Hackney', 'Hammersmith & Fulham', 'Haringey', 'Harrow', 'Havering', 'Hillingdon', 'Hounslow', 'Islington', 'Kensington & Chelsea', 'Kingston upon Thames', 'Lambeth', 'Lewisham', 'Merton', 'Newham', 'Redbridge', 'Richmond upon Thames', 'Southwark', 'Sutton', 'Tower Hamlets', 'Waltham Forest', 'Wandsworth', 'Westminster', 'Unnamed: 34', 'Inner London', 'Outer London', 'Unnamed: 37', 'NORTH EAST', 'NORTH WEST', 'YORKS & THE HUMBER', 'EAST MIDLANDS', 'WEST MIDLANDS', 'EAST OF ENGLAND', 'LONDON', 'SOUTH EAST', 'SOUTH WEST', 'Unnamed: 47', 'England'], dtype='object')

In [9]:
properties.head()

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30,31,32,33,34,35,36,37,38,39,40,41,42,43,44,45,46,47,48,49,50,51,52,53,54,55,56,57,58,59,60,61,62,63,64,65,66,67,68,69,70,71,72,73,74,75,76,77,78,79,80,81,82,83,84,85,86,87,88,89,90,91,92,93,94,95,96,97,98,99,100,101,102,103,104,105,106,107,108,109,110,111,112,113,114,115,116,117,118,119,120,121,122,123,124,125,126,127,128,129,130,131,132,133,134,135,136,137,138,139,140,141,142,143,144,145,146,147,148,149,150,151,152,153,154,155,156,157,158,159,160,161,162,163,164,165,166,167,168,169,170,171,172,173,174,175,176,177,178,179,180,181,182,183,184,185,186,187,188,189,190,191,192,193,194,195,196,197,198,199,200,201,202,203,204,205,206,207,208,209,210,211,212,213,214,215,216,217,218,219,220,221,222,223,224,225,226,227,228,229,230,231,232,233,234,235,236,237,238,239,240,241,242,243,244,245,246,247,248,249,250,251,252,253,254,255,256,257,258,259,260,261,262,263,264,265,266,267,268,269,270,271,272,273,274,275,276,277,278,279,280,281,282,283,284,285,286,287,288,289,290,291,292,293,294,295,296,297,298,299,300,301,302,303,304
Unnamed: 0,NaT,1995-01-01 00:00:00,1995-02-01 00:00:00,1995-03-01 00:00:00,1995-04-01 00:00:00,1995-05-01 00:00:00,1995-06-01 00:00:00,1995-07-01 00:00:00,1995-08-01 00:00:00,1995-09-01 00:00:00,1995-10-01 00:00:00,1995-11-01 00:00:00,1995-12-01 00:00:00,1996-01-01 00:00:00,1996-02-01 00:00:00,1996-03-01 00:00:00,1996-04-01 00:00:00,1996-05-01 00:00:00,1996-06-01 00:00:00,1996-07-01 00:00:00,1996-08-01 00:00:00,1996-09-01 00:00:00,1996-10-01 00:00:00,1996-11-01 00:00:00,1996-12-01 00:00:00,1997-01-01 00:00:00,1997-02-01 00:00:00,1997-03-01 00:00:00,1997-04-01 00:00:00,1997-05-01 00:00:00,1997-06-01 00:00:00,1997-07-01 00:00:00,1997-08-01 00:00:00,1997-09-01 00:00:00,1997-10-01 00:00:00,1997-11-01 00:00:00,1997-12-01 00:00:00,1998-01-01 00:00:00,1998-02-01 00:00:00,1998-03-01 00:00:00,1998-04-01 00:00:00,1998-05-01 00:00:00,1998-06-01 00:00:00,1998-07-01 00:00:00,1998-08-01 00:00:00,1998-09-01 00:00:00,1998-10-01 00:00:00,1998-11-01 00:00:00,1998-12-01 00:00:00,1999-01-01 00:00:00,1999-02-01 00:00:00,1999-03-01 00:00:00,1999-04-01 00:00:00,1999-05-01 00:00:00,1999-06-01 00:00:00,1999-07-01 00:00:00,1999-08-01 00:00:00,1999-09-01 00:00:00,1999-10-01 00:00:00,1999-11-01 00:00:00,1999-12-01 00:00:00,2000-01-01 00:00:00,2000-02-01 00:00:00,2000-03-01 00:00:00,2000-04-01 00:00:00,2000-05-01 00:00:00,2000-06-01 00:00:00,2000-07-01 00:00:00,2000-08-01 00:00:00,2000-09-01 00:00:00,2000-10-01 00:00:00,2000-11-01 00:00:00,2000-12-01 00:00:00,2001-01-01 00:00:00,2001-02-01 00:00:00,2001-03-01 00:00:00,2001-04-01 00:00:00,2001-05-01 00:00:00,2001-06-01 00:00:00,2001-07-01 00:00:00,2001-08-01 00:00:00,2001-09-01 00:00:00,2001-10-01 00:00:00,2001-11-01 00:00:00,2001-12-01 00:00:00,2002-01-01 00:00:00,2002-02-01 00:00:00,2002-03-01 00:00:00,2002-04-01 00:00:00,2002-05-01 00:00:00,2002-06-01 00:00:00,2002-07-01 00:00:00,2002-08-01 00:00:00,2002-09-01 00:00:00,2002-10-01 00:00:00,2002-11-01 00:00:00,2002-12-01 00:00:00,2003-01-01 00:00:00,2003-02-01 00:00:00,2003-03-01 00:00:00,2003-04-01 00:00:00,2003-05-01 00:00:00,2003-06-01 00:00:00,2003-07-01 00:00:00,2003-08-01 00:00:00,2003-09-01 00:00:00,2003-10-01 00:00:00,2003-11-01 00:00:00,2003-12-01 00:00:00,2004-01-01 00:00:00,2004-02-01 00:00:00,2004-03-01 00:00:00,2004-04-01 00:00:00,2004-05-01 00:00:00,2004-06-01 00:00:00,2004-07-01 00:00:00,2004-08-01 00:00:00,2004-09-01 00:00:00,2004-10-01 00:00:00,2004-11-01 00:00:00,2004-12-01 00:00:00,2005-01-01 00:00:00,2005-02-01 00:00:00,2005-03-01 00:00:00,2005-04-01 00:00:00,2005-05-01 00:00:00,2005-06-01 00:00:00,2005-07-01 00:00:00,2005-08-01 00:00:00,2005-09-01 00:00:00,2005-10-01 00:00:00,2005-11-01 00:00:00,2005-12-01 00:00:00,2006-01-01 00:00:00,2006-02-01 00:00:00,2006-03-01 00:00:00,2006-04-01 00:00:00,2006-05-01 00:00:00,2006-06-01 00:00:00,2006-07-01 00:00:00,2006-08-01 00:00:00,2006-09-01 00:00:00,2006-10-01 00:00:00,2006-11-01 00:00:00,2006-12-01 00:00:00,2007-01-01 00:00:00,2007-02-01 00:00:00,2007-03-01 00:00:00,2007-04-01 00:00:00,2007-05-01 00:00:00,2007-06-01 00:00:00,2007-07-01 00:00:00,2007-08-01 00:00:00,2007-09-01 00:00:00,2007-10-01 00:00:00,2007-11-01 00:00:00,2007-12-01 00:00:00,2008-01-01 00:00:00,2008-02-01 00:00:00,2008-03-01 00:00:00,2008-04-01 00:00:00,2008-05-01 00:00:00,2008-06-01 00:00:00,2008-07-01 00:00:00,2008-08-01 00:00:00,2008-09-01 00:00:00,2008-10-01 00:00:00,2008-11-01 00:00:00,2008-12-01 00:00:00,2009-01-01 00:00:00,2009-02-01 00:00:00,2009-03-01 00:00:00,2009-04-01 00:00:00,2009-05-01 00:00:00,2009-06-01 00:00:00,2009-07-01 00:00:00,2009-08-01 00:00:00,2009-09-01 00:00:00,2009-10-01 00:00:00,2009-11-01 00:00:00,2009-12-01 00:00:00,2010-01-01 00:00:00,2010-02-01 00:00:00,2010-03-01 00:00:00,2010-04-01 00:00:00,2010-05-01 00:00:00,2010-06-01 00:00:00,2010-07-01 00:00:00,2010-08-01 00:00:00,2010-09-01 00:00:00,2010-10-01 00:00:00,2010-11-01 00:00:00,2010-12-01 00:00:00,2011-01-01 00:00:00,2011-02-01 00:00:00,2011-03-01 00:00:00,2011-04-01 00:00:00,2011-05-01 00:00:00,2011-06-01 00:00:00,2011-07-01 00:00:00,2011-08-01 00:00:00,2011-09-01 00:00:00,2011-10-01 00:00:00,2011-11-01 00:00:00,2011-12-01 00:00:00,2012-01-01 00:00:00,2012-02-01 00:00:00,2012-03-01 00:00:00,2012-04-01 00:00:00,2012-05-01 00:00:00,2012-06-01 00:00:00,2012-07-01 00:00:00,2012-08-01 00:00:00,2012-09-01 00:00:00,2012-10-01 00:00:00,2012-11-01 00:00:00,2012-12-01 00:00:00,2013-01-01 00:00:00,2013-02-01 00:00:00,2013-03-01 00:00:00,2013-04-01 00:00:00,2013-05-01 00:00:00,2013-06-01 00:00:00,2013-07-01 00:00:00,2013-08-01 00:00:00,2013-09-01 00:00:00,2013-10-01 00:00:00,2013-11-01 00:00:00,2013-12-01 00:00:00,2014-01-01 00:00:00,2014-02-01 00:00:00,2014-03-01 00:00:00,2014-04-01 00:00:00,2014-05-01 00:00:00,2014-06-01 00:00:00,2014-07-01 00:00:00,2014-08-01 00:00:00,2014-09-01 00:00:00,2014-10-01 00:00:00,2014-11-01 00:00:00,2014-12-01 00:00:00,2015-01-01 00:00:00,2015-02-01 00:00:00,2015-03-01 00:00:00,2015-04-01 00:00:00,2015-05-01 00:00:00,2015-06-01 00:00:00,2015-07-01 00:00:00,2015-08-01 00:00:00,2015-09-01 00:00:00,2015-10-01 00:00:00,2015-11-01 00:00:00,2015-12-01 00:00:00,2016-01-01 00:00:00,2016-02-01 00:00:00,2016-03-01 00:00:00,2016-04-01 00:00:00,2016-05-01 00:00:00,2016-06-01 00:00:00,2016-07-01 00:00:00,2016-08-01 00:00:00,2016-09-01 00:00:00,2016-10-01 00:00:00,2016-11-01 00:00:00,2016-12-01 00:00:00,2017-01-01 00:00:00,2017-02-01 00:00:00,2017-03-01 00:00:00,2017-04-01 00:00:00,2017-05-01 00:00:00,2017-06-01 00:00:00,2017-07-01 00:00:00,2017-08-01 00:00:00,2017-09-01 00:00:00,2017-10-01 00:00:00,2017-11-01 00:00:00,2017-12-01 00:00:00,2018-01-01 00:00:00,2018-02-01 00:00:00,2018-03-01 00:00:00,2018-04-01 00:00:00,2018-05-01 00:00:00,2018-06-01 00:00:00,2018-07-01 00:00:00,2018-08-01 00:00:00,2018-09-01 00:00:00,2018-10-01 00:00:00,2018-11-01 00:00:00,2018-12-01 00:00:00,2019-01-01 00:00:00,2019-02-01 00:00:00,2019-03-01 00:00:00,2019-04-01 00:00:00,2019-05-01 00:00:00,2019-06-01 00:00:00,2019-07-01 00:00:00,2019-08-01 00:00:00,2019-09-01 00:00:00,2019-10-01 00:00:00,2019-11-01 00:00:00,2019-12-01 00:00:00,2020-01-01 00:00:00,2020-02-01 00:00:00,2020-03-01 00:00:00,2020-04-01 00:00:00
City of London,E09000001,91449,82202.8,79120.7,77101.2,84409.1,94900.5,110128,112329,104473,108038,117636,127232,108999,93356.7,93706.7,120543,112050,114226,97546.7,114179,108138,98934.2,99706.8,106427,116343,111142,107488,108480,115453,118317,117034,113585,115159,121251,131074,130035,124382,143829,156508,163403,143625,132251,140377,148993,152807,162020,152387,155801,149143,164545,174586,191157,191081,185993,164056,160905,166193,163490,175143,169309,173738,174152,178339,183101,175041,198191,214852,221952,223175,245062,321773,314772,284262,198137,189033,205494,223459,242435,230700,231632,229806,263887,346458,362204,344239,284015,253697,245313,227281,253130,262428,274016,277047,271941,280283,262197,261645,263992,291969,295174,284860,267208,260204,245449,243184,252980,277515,305556,326913,301092,272731,269514,280062,297421,298293,307094,305126,289912,333075,331161,330363,288867,304851,317398,311442,282866,283641,305351,310906,338837,327256,339626,316121,323653,325106,319580,313126,304977,338307,358438,377545,365177,354438,365755,360923,399437,403144,419005,411183,436079,467348,473887,463525,456422,450831,464277,471861,453707,404849,382571,389733,420665,442352,472397,466082,440012,396155,387178,400317,393361,399220,345338,373504,348751,379109,360545,391138,399867,397909,411955,464436,490525,498241,458246,454928,428120,420234,442597,455290,456016,430305,445016,442413,504009,475353,516319,459477,466525,420435,421486,436019,450034,478809,496291,525723,510537,527408,524290,573532,542518,543037,496168,525971,521769,521448,491529,465451,499207,527874,590685,578037,662700,651116,645847,529619,527374,546793,615401,625001,648359,654629,665262,682663,697309,724282,761544,753704,763369,762735,773768,783667,760550,767207,729148,762815,776509,779097,760243,767464,781358,741727,713253,736788,765644,794754,805320,845579,907965,911827,848269,780527,792664,818663,811786,820305,820665,853943,906146,939912,930979,854798,847422,836674,818477,790159,778002,802129,783266,740799,732351,796399,789278,809697,784144,800875,802869,764207,811694,865636,894520,853451,738797,719218,761526,756407,813770,810455,826227,776894,737275,747611,777640,844989,867841
Barking & Dagenham,E09000002,50460.2,51085.8,51269,53133.5,53042.2,53700.3,52113.1,52232.2,51471.6,51513.8,50848.7,50945.2,50828.1,51440.7,51907.1,51724,51735.7,50761.4,50621.1,51104.7,51892.7,52533.2,52216,53853.5,54459,55451.5,55004.8,55279.9,54936.9,55286.7,55658.9,56506.7,56306.3,57200.2,57575.3,58025,57559,57360.3,57908.5,59196,60355.8,60582.9,60412.3,60837.4,61485.1,62005.1,62239.8,63487.5,64531.7,64165.9,63528.1,63579.9,64508.3,64704.2,64920.8,65385.3,66003.1,66367.3,67344.4,68812.2,71079.2,72633,73623.6,73800.3,75126,76939.4,78868.7,80150,81760.8,82501.5,82385.5,81726.3,82343.4,83265.9,84057.9,83965.3,85124,86732.5,89194,90461.7,92610,93584.5,95917.5,96712,98713.3,100229,101633,103885,105761,108615,111983,115548,118331,122940,127316,131709,134750,138195,142207,142192,142797,141957,142223,142792,141707,145136,146331,149701,150115,152688,153591,154014,154361,156951,159227,160620,162821,164422,165172,164130,164484,162324,161927,162771,164000,165770,162428,164000,163111,164179,162695,162642,162340,163024,162004,164204,166048,169013,170204,171177,170251,170091,171598,174285,176577,177051,179011,179847,181828,183476,185929,187337,190223,191576,193603,192458,194235,193699,196257,192932,193573,190727,191067,189100,184659,177921,174390,169722,166798,161879,156811,152209,148433,150194,154105,156272,155827,156674,157272,160889,162905,163023,162831,162756,164903,167148,168661,170216,170253,170298,169250,166485,163821,162484,161660,162401,162703,162304,160895,163477,166865,167493,164847,162631,163899,163607,164438,164731,166503,168049,168007,166180,165304,165328,166508,167813,167919,169461,169414,169968,170475,172652,174604,173720,174761,176821,181910,183099,184884,185428,189877,193077,196620,198040,201936,204974,210412,213903,216631,218285,220070,222919,222417,222176,221826,227558,235702,241735,243479,243539,246955,253145,258758,262861,266209,266744,268081,269318,274243,279484,283654,286210,285853,285622,282441,280698,278213,280567,286018,289569,291727,290965,292519,293390,293796,292915,291548,292777,291723,291184,290239,294236,294953,295908,296424,299648,302606,301114,297181,293839,294065,295498,295092,293889,297426,299421,304778,304579,306390,301283,303653,304265,304099,283139
Barnet,E09000003,93284.5,93190.2,92247.5,90762.9,90258,90107.2,91441.2,92361.3,93273.1,92567.4,90883.2,91133.9,91111,92429.5,91409.8,92394.2,91058.9,91978.2,92444.1,95516,97489.9,97844.5,97155,97174.3,98558.8,100076,101130,101201,103287,104609,107235,108730,112380,114515,115356,115521,115902,116995,118866,120487,122608,122490,124040,125041,125320,125719,125086,125757,126189,127017,126902,127883,129393,132608,136102,139741,143596,145287,147825,149510,153676,156797,159939,162988,165737,169025,170521,173966,175610,176603,175250,175320,175475,178108,178226,178813,178636,181194,183941,187691,190954,194320,198610,200792,203249,202713,204694,208077,214594,219793,227129,230537,233748,232184,235730,236506,244239,245752,250708,246175,244449,244464,250826,254882,257504,257724,257772,260059,259868,261559,261478,263774,269023,272859,276811,276712,278219,278320,282306,281320,282820,277154,274216,272772,273841,279515,279928,282066,283148,283024,283421,281611,282334,281120,281674,283206,286462,287725,292435,296104,300381,299832,300765,304015,306484,309910,310377,313521,318831,323805,331745,334689,340987,342548,345869,344219,344480,339644,335896,333836,338033,340825,337540,329269,320831,318948,314868,306110,294598,289251,288719,286601,288396,291608,301141,305077,310670,309970,310970,312235,316926,318995,324873,327955,331168,330965,336380,341812,347747,344010,341702,335004,337575,339623,345258,340441,335305,330259,332255,334216,339125,340673,346353,346653,351280,352048,348611,351150,353469,361667,362335,362586,367109,366527,365376,361371,362880,363064,363754,361907,364637,367754,377520,382032,385304,385629,390598,392168,398384,403842,411453,414855,421203,428806,438505,446443,450728,451041,448523,450577,461383,471363,473233,472033,466125,473322,470262,478796,484487,492110,499850,501293,512166,509863,513342,517408,533676,539830,535272,532358,534921,533793,526422,522223,532924,540501,549401,543699,544994,531344,527928,526223,537986,544090,541563,538718,531832,531736,538120,541502,533088,524702,523397,533715,534951,537284,535060,533810,528639,523679,516531,512343,503911,512694,514668,528577,526670,525678,522639,519306,518542,519121,527747,526553
Bexley,E09000004,64958.1,64787.9,64367.5,64277.7,63997.1,64252.3,63722.7,64432.6,64509.5,64529.9,63846,63816.9,63996,64503.7,64788,65285.9,65080.7,65119.8,65150.6,65960.2,66500.6,66659.3,66353.8,66486.4,67350.6,67981.2,67823.8,68470.5,69353.5,70764.1,71129.8,72140.7,72830.3,73378.8,73619.6,74630.1,76863.5,78064.9,79062.3,78422.9,79408.3,80321.9,81579.5,81775,82217.2,82767.4,83837.9,83263.5,83063.7,82927.9,83333.7,84266.9,84513.5,85021.2,85713.3,86489.1,88718.6,90657.3,92722,93905.4,94978.5,96820.1,98306.4,99377.6,101274,102654,104526,106696,108170,108290,108062,109084,111194,111439,112505,111829,112377,113776,116938,119312,121239,121901,123381,122434,124283,124611,126576,127714,131293,134081,137176,139794,143736,147674,150898,153740,156081,156971,159465,161244,163925,166075,168190,168928,167863,168104,167061,169878,169115,173114,173004,176036,176749,179977,181015,183350,183688,183939,185354,184354,186454,183915,184119,183311,184686,187768,186667,188106,187908,189435,188695,187080,188013,187236,187450,189194,189827,191156,189338,193378,194017,196532,196838,198996,199813,199940,201599,203224,205848,208174,211318,211462,210593,211457,215171,218432,220086,219349,218909,215954,215616,212632,210800,208152,207084,203008,197920,192879,193105,188785,187076,181653,182455,183344,186841,189657,191210,193417,194444,196623,197737,201284,202291,202739,199919,199807,200251,201935,202870,200657,200647,200352,200374,200399,198333,201059,201338,201073,199899,199485,202298,202907,201377,199523,197427,199186,198638,199593,200116,202550,203974,205197,205409,205919,205592,206956,209192,210776,210530,210864,210206,210388,209984,213354,216048,218834,219391,222076,224321,226519,227503,232024,236204,242495,249853,255183,258619,258267,260539,261988,261751,261296,261084,261865,264488,267393,275330,280371,286281,286190,288718,295744,307550,315289,314140,311889,314431,320636,325381,326878,329408,330194,331943,331025,330066,328824,328858,329046,333651,336980,344041,344517,339808,335705,336239,340598,342096,341254,339632,338476,336410,341480,345693,347531,346151,344681,344172,343667,338708,339186,336680,339330,336981,339324,338346,337523,333340,332920,333657,336302,334765,337760,339215,346840

In [10]:
# the thing you want to analyze should never be the index!
# reset
properties.reset_index(inplace=True)

In [11]:
properties.head()

,index,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30,31,32,33,34,35,36,37,38,39,40,41,42,43,44,45,46,47,48,49,50,51,52,53,54,55,56,57,58,59,60,61,62,63,64,65,66,67,68,69,70,71,72,73,74,75,76,77,78,79,80,81,82,83,84,85,86,87,88,89,90,91,92,93,94,95,96,97,98,99,100,101,102,103,104,105,106,107,108,109,110,111,112,113,114,115,116,117,118,119,120,121,122,123,124,125,126,127,128,129,130,131,132,133,134,135,136,137,138,139,140,141,142,143,144,145,146,147,148,149,150,151,152,153,154,155,156,157,158,159,160,161,162,163,164,165,166,167,168,169,170,171,172,173,174,175,176,177,178,179,180,181,182,183,184,185,186,187,188,189,190,191,192,193,194,195,196,197,198,199,200,201,202,203,204,205,206,207,208,209,210,211,212,213,214,215,216,217,218,219,220,221,222,223,224,225,226,227,228,229,230,231,232,233,234,235,236,237,238,239,240,241,242,243,244,245,246,247,248,249,250,251,252,253,254,255,256,257,258,259,260,261,262,263,264,265,266,267,268,269,270,271,272,273,274,275,276,277,278,279,280,281,282,283,284,285,286,287,288,289,290,291,292,293,294,295,296,297,298,299,300,301,302,303,304
0,Unnamed: 0,NaT,1995-01-01 00:00:00,1995-02-01 00:00:00,1995-03-01 00:00:00,1995-04-01 00:00:00,1995-05-01 00:00:00,1995-06-01 00:00:00,1995-07-01 00:00:00,1995-08-01 00:00:00,1995-09-01 00:00:00,1995-10-01 00:00:00,1995-11-01 00:00:00,1995-12-01 00:00:00,1996-01-01 00:00:00,1996-02-01 00:00:00,1996-03-01 00:00:00,1996-04-01 00:00:00,1996-05-01 00:00:00,1996-06-01 00:00:00,1996-07-01 00:00:00,1996-08-01 00:00:00,1996-09-01 00:00:00,1996-10-01 00:00:00,1996-11-01 00:00:00,1996-12-01 00:00:00,1997-01-01 00:00:00,1997-02-01 00:00:00,1997-03-01 00:00:00,1997-04-01 00:00:00,1997-05-01 00:00:00,1997-06-01 00:00:00,1997-07-01 00:00:00,1997-08-01 00:00:00,1997-09-01 00:00:00,1997-10-01 00:00:00,1997-11-01 00:00:00,1997-12-01 00:00:00,1998-01-01 00:00:00,1998-02-01 00:00:00,1998-03-01 00:00:00,1998-04-01 00:00:00,1998-05-01 00:00:00,1998-06-01 00:00:00,1998-07-01 00:00:00,1998-08-01 00:00:00,1998-09-01 00:00:00,1998-10-01 00:00:00,1998-11-01 00:00:00,1998-12-01 00:00:00,1999-01-01 00:00:00,1999-02-01 00:00:00,1999-03-01 00:00:00,1999-04-01 00:00:00,1999-05-01 00:00:00,1999-06-01 00:00:00,1999-07-01 00:00:00,1999-08-01 00:00:00,1999-09-01 00:00:00,1999-10-01 00:00:00,1999-11-01 00:00:00,1999-12-01 00:00:00,2000-01-01 00:00:00,2000-02-01 00:00:00,2000-03-01 00:00:00,2000-04-01 00:00:00,2000-05-01 00:00:00,2000-06-01 00:00:00,2000-07-01 00:00:00,2000-08-01 00:00:00,2000-09-01 00:00:00,2000-10-01 00:00:00,2000-11-01 00:00:00,2000-12-01 00:00:00,2001-01-01 00:00:00,2001-02-01 00:00:00,2001-03-01 00:00:00,2001-04-01 00:00:00,2001-05-01 00:00:00,2001-06-01 00:00:00,2001-07-01 00:00:00,2001-08-01 00:00:00,2001-09-01 00:00:00,2001-10-01 00:00:00,2001-11-01 00:00:00,2001-12-01 00:00:00,2002-01-01 00:00:00,2002-02-01 00:00:00,2002-03-01 00:00:00,2002-04-01 00:00:00,2002-05-01 00:00:00,2002-06-01 00:00:00,2002-07-01 00:00:00,2002-08-01 00:00:00,2002-09-01 00:00:00,2002-10-01 00:00:00,2002-11-01 00:00:00,2002-12-01 00:00:00,2003-01-01 00:00:00,2003-02-01 00:00:00,2003-03-01 00:00:00,2003-04-01 00:00:00,2003-05-01 00:00:00,2003-06-01 00:00:00,2003-07-01 00:00:00,2003-08-01 00:00:00,2003-09-01 00:00:00,2003-10-01 00:00:00,2003-11-01 00:00:00,2003-12-01 00:00:00,2004-01-01 00:00:00,2004-02-01 00:00:00,2004-03-01 00:00:00,2004-04-01 00:00:00,2004-05-01 00:00:00,2004-06-01 00:00:00,2004-07-01 00:00:00,2004-08-01 00:00:00,2004-09-01 00:00:00,2004-10-01 00:00:00,2004-11-01 00:00:00,2004-12-01 00:00:00,2005-01-01 00:00:00,2005-02-01 00:00:00,2005-03-01 00:00:00,2005-04-01 00:00:00,2005-05-01 00:00:00,2005-06-01 00:00:00,2005-07-01 00:00:00,2005-08-01 00:00:00,2005-09-01 00:00:00,2005-10-01 00:00:00,2005-11-01 00:00:00,2005-12-01 00:00:00,2006-01-01 00:00:00,2006-02-01 00:00:00,2006-03-01 00:00:00,2006-04-01 00:00:00,2006-05-01 00:00:00,2006-06-01 00:00:00,2006-07-01 00:00:00,2006-08-01 00:00:00,2006-09-01 00:00:00,2006-10-01 00:00:00,2006-11-01 00:00:00,2006-12-01 00:00:00,2007-01-01 00:00:00,2007-02-01 00:00:00,2007-03-01 00:00:00,2007-04-01 00:00:00,2007-05-01 00:00:00,2007-06-01 00:00:00,2007-07-01 00:00:00,2007-08-01 00:00:00,2007-09-01 00:00:00,2007-10-01 00:00:00,2007-11-01 00:00:00,2007-12-01 00:00:00,2008-01-01 00:00:00,2008-02-01 00:00:00,2008-03-01 00:00:00,2008-04-01 00:00:00,2008-05-01 00:00:00,2008-06-01 00:00:00,2008-07-01 00:00:00,2008-08-01 00:00:00,2008-09-01 00:00:00,2008-10-01 00:00:00,2008-11-01 00:00:00,2008-12-01 00:00:00,2009-01-01 00:00:00,2009-02-01 00:00:00,2009-03-01 00:00:00,2009-04-01 00:00:00,2009-05-01 00:00:00,2009-06-01 00:00:00,2009-07-01 00:00:00,2009-08-01 00:00:00,2009-09-01 00:00:00,2009-10-01 00:00:00,2009-11-01 00:00:00,2009-12-01 00:00:00,2010-01-01 00:00:00,2010-02-01 00:00:00,2010-03-01 00:00:00,2010-04-01 00:00:00,2010-05-01 00:00:00,2010-06-01 00:00:00,2010-07-01 00:00:00,2010-08-01 00:00:00,2010-09-01 00:00:00,2010-10-01 00:00:00,2010-11-01 00:00:00,2010-12-01 00:00:00,2011-01-01 00:00:00,2011-02-01 00:00:00,2011-03-01 00:00:00,2011-04-01 00:00:00,2011-05-01 00:00:00,2011-06-01 00:00:00,2011-07-01 00:00:00,2011-08-01 00:00:00,2011-09-01 00:00:00,2011-10-01 00:00:00,2011-11-01 00:00:00,2011-12-01 00:00:00,2012-01-01 00:00:00,2012-02-01 00:00:00,2012-03-01 00:00:00,2012-04-01 00:00:00,2012-05-01 00:00:00,2012-06-01 00:00:00,2012-07-01 00:00:00,2012-08-01 00:00:00,2012-09-01 00:00:00,2012-10-01 00:00:00,2012-11-01 00:00:00,2012-12-01 00:00:00,2013-01-01 00:00:00,2013-02-01 00:00:00,2013-03-01 00:00:00,2013-04-01 00:00:00,2013-05-01 00:00:00,2013-06-01 00:00:00,2013-07-01 00:00:00,2013-08-01 00:00:00,2013-09-01 00:00:00,2013-10-01 00:00:00,2013-11-01 00:00:00,2013-12-01 00:00:00,2014-01-01 00:00:00,2014-02-01 00:00:00,2014-03-01 00:00:00,2014-04-01 00:00:00,2014-05-01 00:00:00,2014-06-01 00:00:00,2014-07-01 00:00:00,2014-08-01 00:00:00,2014-09-01 00:00:00,2014-10-01 00:00:00,2014-11-01 00:00:00,2014-12-01 00:00:00,2015-01-01 00:00:00,2015-02-01 00:00:00,2015-03-01 00:00:00,2015-04-01 00:00:00,2015-05-01 00:00:00,2015-06-01 00:00:00,2015-07-01 00:00:00,2015-08-01 00:00:00,2015-09-01 00:00:00,2015-10-01 00:00:00,2015-11-01 00:00:00,2015-12-01 00:00:00,2016-01-01 00:00:00,2016-02-01 00:00:00,2016-03-01 00:00:00,2016-04-01 00:00:00,2016-05-01 00:00:00,2016-06-01 00:00:00,2016-07-01 00:00:00,2016-08-01 00:00:00,2016-09-01 00:00:00,2016-10-01 00:00:00,2016-11-01 00:00:00,2016-12-01 00:00:00,2017-01-01 00:00:00,2017-02-01 00:00:00,2017-03-01 00:00:00,2017-04-01 00:00:00,2017-05-01 00:00:00,2017-06-01 00:00:00,2017-07-01 00:00:00,2017-08-01 00:00:00,2017-09-01 00:00:00,2017-10-01 00:00:00,2017-11-01 00:00:00,2017-12-01 00:00:00,2018-01-01 00:00:00,2018-02-01 00:00:00,2018-03-01 00:00:00,2018-04-01 00:00:00,2018-05-01 00:00:00,2018-06-01 00:00:00,2018-07-01 00:00:00,2018-08-01 00:00:00,2018-09-01 00:00:00,2018-10-01 00:00:00,2018-11-01 00:00:00,2018-12-01 00:00:00,2019-01-01 00:00:00,2019-02-01 00:00:00,2019-03-01 00:00:00,2019-04-01 00:00:00,2019-05-01 00:00:00,2019-06-01 00:00:00,2019-07-01 00:00:00,2019-08-01 00:00:00,2019-09-01 00:00:00,2019-10-01 00:00:00,2019-11-01 00:00:00,2019-12-01 00:00:00,2020-01-01 00:00:00,2020-02-01 00:00:00,2020-03-01 00:00:00,2020-04-01 00:00:00
1,City of London,E09000001,91449,82202.8,79120.7,77101.2,84409.1,94900.5,110128,112329,104473,108038,117636,127232,108999,93356.7,93706.7,120543,112050,114226,97546.7,114179,108138,98934.2,99706.8,106427,116343,111142,107488,108480,115453,118317,117034,113585,115159,121251,131074,130035,124382,143829,156508,163403,143625,132251,140377,148993,152807,162020,152387,155801,149143,164545,174586,191157,191081,185993,164056,160905,166193,163490,175143,169309,173738,174152,178339,183101,175041,198191,214852,221952,223175,245062,321773,314772,284262,198137,189033,205494,223459,242435,230700,231632,229806,263887,346458,362204,344239,284015,253697,245313,227281,253130,262428,274016,277047,271941,280283,262197,261645,263992,291969,295174,284860,267208,260204,245449,243184,252980,277515,305556,326913,301092,272731,269514,280062,297421,298293,307094,305126,289912,333075,331161,330363,288867,304851,317398,311442,282866,283641,305351,310906,338837,327256,339626,316121,323653,325106,319580,313126,304977,338307,358438,377545,365177,354438,365755,360923,399437,403144,419005,411183,436079,467348,473887,463525,456422,450831,464277,471861,453707,404849,382571,389733,420665,442352,472397,466082,440012,396155,387178,400317,393361,399220,345338,373504,348751,379109,360545,391138,399867,397909,411955,464436,490525,498241,458246,454928,428120,420234,442597,455290,456016,430305,445016,442413,504009,475353,516319,459477,466525,420435,421486,436019,450034,478809,496291,525723,510537,527408,524290,573532,542518,543037,496168,525971,521769,521448,491529,465451,499207,527874,590685,578037,662700,651116,645847,529619,527374,546793,615401,625001,648359,654629,665262,682663,697309,724282,761544,753704,763369,762735,773768,783667,760550,767207,729148,762815,776509,779097,760243,767464,781358,741727,713253,736788,765644,794754,805320,845579,907965,911827,848269,780527,792664,818663,811786,820305,820665,853943,906146,939912,930979,854798,847422,836674,818477,790159,778002,802129,783266,740799,732351,796399,789278,809697,784144,800875,802869,764207,811694,865636,894520,853451,738797,719218,761526,756407,813770,810455,826227,776894,737275,747611,777640,844989,867841
2,Barking & Dagenham,E09000002,50460.2,51085.8,51269,53133.5,53042.2,53700.3,52113.1,52232.2,51471.6,51513.8,50848.7,50945.2,50828.1,51440.7,51907.1,51724,51735.7,50761.4,50621.1,51104.7,51892.7,52533.2,52216,53853.5,54459,55451.5,55004.8,55279.9,54936.9,55286.7,55658.9,56506.7,56306.3,57200.2,57575.3,58025,57559,57360.3,57908.5,59196,60355.8,60582.9,60412.3,60837.4,61485.1,62005.1,62239.8,63487.5,64531.7,64165.9,63528.1,63579.9,64508.3,64704.2,64920.8,65385.3,66003.1,66367.3,67344.4,68812.2,71079.2,72633,73623.6,73800.3,75126,76939.4,78868.7,80150,81760.8,82501.5,82385.5,81726.3,82343.4,83265.9,84057.9,83965.3,85124,86732.5,89194,90461.7,92610,93584.5,95917.5,96712,98713.3,100229,101633,103885,105761,108615,111983,115548,118331,122940,127316,131709,134750,138195,142207,142192,142797,141957,142223,142792,141707,145136,146331,149701,150115,152688,153591,154014,154361,156951,159227,160620,162821,164422,165172,164130,164484,162324,161927,162771,164000,165770,162428,164000,163111,164179,162695,162642,162340,163024,162004,164204,166048,169013,170204,171177,170251,170091,171598,174285,176577,177051,179011,179847,181828,183476,185929,187337,190223,191576,193603,192458,194235,193699,196257,192932,193573,190727,191067,189100,184659,177921,174390,169722,166798,161879,156811,152209,148433,150194,154105,156272,155827,156674,157272,160889,162905,163023,162831,162756,164903,167148,168661,170216,170253,170298,169250,166485,163821,162484,161660,162401,162703,162304,160895,163477,166865,167493,164847,162631,163899,163607,164438,164731,166503,168049,168007,166180,165304,165328,166508,167813,167919,169461,169414,169968,170475,172652,174604,173720,174761,176821,181910,183099,184884,185428,189877,193077,196620,198040,201936,204974,210412,213903,216631,218285,220070,222919,222417,222176,221826,227558,235702,241735,243479,243539,246955,253145,258758,262861,266209,266744,268081,269318,274243,279484,283654,286210,285853,285622,282441,280698,278213,280567,286018,289569,291727,290965,292519,293390,293796,292915,291548,292777,291723,291184,290239,294236,294953,295908,296424,299648,302606,301114,297181,293839,294065,295498,295092,293889,297426,299421,304778,304579,306390,301283,303653,304265,304099,283139
3,Barnet,E09000003,93284.5,93190.2,92247.5,90762.9,90258,90107.2,91441.2,92361.3,93273.1,92567.4,90883.2,91133.9,91111,92429.5,91409.8,92394.2,91058.9,91978.2,92444.1,95516,97489.9,97844.5,97155,97174.3,98558.8,100076,101130,101201,103287,104609,107235,108730,112380,114515,115356,115521,115902,116995,118866,120487,122608,122490,124040,125041,125320,125719,125086,125757,126189,127017,126902,127883,129393,132608,136102,139741,143596,145287,147825,149510,153676,156797,159939,162988,165737,169025,170521,173966,175610,176603,175250,175320,175475,178108,178226,178813,178636,181194,183941,187691,190954,194320,198610,200792,203249,202713,204694,208077,214594,219793,227129,230537,233748,232184,235730,236506,244239,245752,250708,246175,244449,244464,250826,254882,257504,257724,257772,260059,259868,261559,261478,263774,269023,272859,276811,276712,278219,278320,282306,281320,282820,277154,274216,272772,273841,279515,279928,282066,283148,283024,283421,281611,282334,281120,281674,283206,286462,287725,292435,296104,300381,299832,300765,304015,306484,309910,310377,313521,318831,323805,331745,334689,340987,342548,345869,344219,344480,339644,335896,333836,338033,340825,337540,329269,320831,318948,314868,306110,294598,289251,288719,286601,288396,291608,301141,305077,310670,309970,310970,312235,316926,318995,324873,327955,331168,330965,336380,341812,347747,344010,341702,335004,337575,339623,345258,340441,335305,330259,332255,334216,339125,340673,346353,346653,351280,352048,348611,351150,353469,361667,362335,362586,367109,366527,365376,361371,362880,363064,363754,361907,364637,367754,377520,382032,385304,385629,390598,392168,398384,403842,411453,414855,421203,428806,438505,446443,450728,451041,448523,450577,461383,471363,473233,472033,466125,473322,470262,478796,484487,492110,499850,501293,512166,509863,513342,517408,533676,539830,535272,532358,534921,533793,526422,522223,532924,540501,549401,543699,544994,531344,527928,526223,537986,544090,541563,538718,531832,531736,538120,541502,533088,524702,523397,533715,534951,537284,535060,533810,528639,523679,516531,512343,503911,512694,514668,528577,526670,525678,522639,519306,518542,519121,527747,526553
4,Bexley,E09000004,64958.1,64787.9,64367.5,64277.7,63997.1,64252.3,63722.7,64432.6,64509.5,64529.9,63846,63816.9,63996,64503.7,64788,65285.9,65080.7,65119.8,65150.6,65960.2,66500.6,66659.3,66353.8,66486.4,67350.6,67981.2,67823.8,68470.5,69353.5,70764.1,71129.8,72140.7,72830.3,73378.8,73619.6,74630.1,76863.5,78064.9,79062.3,78422.9,79408.3,80321.9,81579.5,81775,82217.2,82767.4,83837.9,83263.5,83063.7,82927.9,83333.7,84266.9,84513.5,85021.2,85713.3,86489.1,88718.6,90657.3,92722,93905.4,94978.5,96820.1,98306.4,99377.6,101274,102654,104526,106696,108170,108290,108062,109084,111194,111439,112505,111829,112377,113776,116938,119312,121239,121901,123381,122434,124283,124611,126576,127714,131293,134081,137176,139794,143736,147674,150898,153740,156081,156971,159465,161244,163925,166075,168190,168928,167863,168104,167061,169878,169115,173114,173004,176036,176749,179977,181015,183350,183688,183939,185354,184354,186454,183915,184119,183311,184686,187768,186667,188106,187908,189435,188695,187080,188013,187236,187450,189194,189827,191156,189338,193378,194017,196532,196838,198996,199813,199940,201599,203224,205848,208174,211318,211462,210593,211457,215171,218432,220086,219349,218909,215954,215616,212632,210800,208152,207084,203008,197920,192879,193105,188785,187076,181653,182455,183344,186841,189657,191210,193417,194444,196623,197737,201284,202291,202739,199919,199807,200251,201935,202870,200657,200647,200352,200374,200399,198333,201059,201338,201073,199899,199485,202298,202907,201377,199523,197427,199186,198638,199593,200116,202550,203974,205197,205409,205919,205592,206956,209192,210776,210530,210864,210206,210388,209984,213354,216048,218834,219391,222076,224321,226519,227503,232024,236204,242495,249853,255183,258619,258267,260539,261988,261751,261296,261084,261865,264488,267393,275330,280371,286281,286190,288718,295744,307550,315289,314140,311889,314431,320636,325381,326878,329408,330194,331943,331025,330066,328824,328858,329046,333651,336980,344041,344517,339808,335705,336239,340598,342096,341254,339632,338476,336410,341480,345693,347531,346151,344681,344172,343667,338708,339186,336680,339330,336981,339324,338346,337523,333340,332920,333657,336302,334765,337760,339215,346840

In [12]:
# make your columns be frome row 0
properties.columns = properties.iloc[0]

In [13]:
properties.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 49 entries, 0 to 48
Columns: 306 entries, Unnamed: 0 to 2020-04-01 00:00:00
dtypes: object(306)
memory usage: 117.3+ KB

In [14]:
# drop row 1
properties.drop(0,inplace=True)
properties.head()

,Unnamed: 0,NaN,1995-01-01 00:00:00,1995-02-01 00:00:00,1995-03-01 00:00:00,1995-04-01 00:00:00,1995-05-01 00:00:00,1995-06-01 00:00:00,1995-07-01 00:00:00,1995-08-01 00:00:00,1995-09-01 00:00:00,1995-10-01 00:00:00,1995-11-01 00:00:00,1995-12-01 00:00:00,1996-01-01 00:00:00,1996-02-01 00:00:00,1996-03-01 00:00:00,1996-04-01 00:00:00,1996-05-01 00:00:00,1996-06-01 00:00:00,1996-07-01 00:00:00,1996-08-01 00:00:00,1996-09-01 00:00:00,1996-10-01 00:00:00,1996-11-01 00:00:00,1996-12-01 00:00:00,1997-01-01 00:00:00,1997-02-01 00:00:00,1997-03-01 00:00:00,1997-04-01 00:00:00,1997-05-01 00:00:00,1997-06-01 00:00:00,1997-07-01 00:00:00,1997-08-01 00:00:00,1997-09-01 00:00:00,1997-10-01 00:00:00,1997-11-01 00:00:00,1997-12-01 00:00:00,1998-01-01 00:00:00,1998-02-01 00:00:00,1998-03-01 00:00:00,1998-04-01 00:00:00,1998-05-01 00:00:00,1998-06-01 00:00:00,1998-07-01 00:00:00,1998-08-01 00:00:00,1998-09-01 00:00:00,1998-10-01 00:00:00,1998-11-01 00:00:00,1998-12-01 00:00:00,1999-01-01 00:00:00,1999-02-01 00:00:00,1999-03-01 00:00:00,1999-04-01 00:00:00,1999-05-01 00:00:00,1999-06-01 00:00:00,1999-07-01 00:00:00,1999-08-01 00:00:00,1999-09-01 00:00:00,1999-10-01 00:00:00,1999-11-01 00:00:00,1999-12-01 00:00:00,2000-01-01 00:00:00,2000-02-01 00:00:00,2000-03-01 00:00:00,2000-04-01 00:00:00,2000-05-01 00:00:00,2000-06-01 00:00:00,2000-07-01 00:00:00,2000-08-01 00:00:00,2000-09-01 00:00:00,2000-10-01 00:00:00,2000-11-01 00:00:00,2000-12-01 00:00:00,2001-01-01 00:00:00,2001-02-01 00:00:00,2001-03-01 00:00:00,2001-04-01 00:00:00,2001-05-01 00:00:00,2001-06-01 00:00:00,2001-07-01 00:00:00,2001-08-01 00:00:00,2001-09-01 00:00:00,2001-10-01 00:00:00,2001-11-01 00:00:00,2001-12-01 00:00:00,2002-01-01 00:00:00,2002-02-01 00:00:00,2002-03-01 00:00:00,2002-04-01 00:00:00,2002-05-01 00:00:00,2002-06-01 00:00:00,2002-07-01 00:00:00,2002-08-01 00:00:00,2002-09-01 00:00:00,2002-10-01 00:00:00,2002-11-01 00:00:00,2002-12-01 00:00:00,2003-01-01 00:00:00,2003-02-01 00:00:00,2003-03-01 00:00:00,2003-04-01 00:00:00,2003-05-01 00:00:00,2003-06-01 00:00:00,2003-07-01 00:00:00,2003-08-01 00:00:00,2003-09-01 00:00:00,2003-10-01 00:00:00,2003-11-01 00:00:00,2003-12-01 00:00:00,2004-01-01 00:00:00,2004-02-01 00:00:00,2004-03-01 00:00:00,2004-04-01 00:00:00,2004-05-01 00:00:00,2004-06-01 00:00:00,2004-07-01 00:00:00,2004-08-01 00:00:00,2004-09-01 00:00:00,2004-10-01 00:00:00,2004-11-01 00:00:00,2004-12-01 00:00:00,2005-01-01 00:00:00,2005-02-01 00:00:00,2005-03-01 00:00:00,2005-04-01 00:00:00,2005-05-01 00:00:00,2005-06-01 00:00:00,2005-07-01 00:00:00,2005-08-01 00:00:00,2005-09-01 00:00:00,2005-10-01 00:00:00,2005-11-01 00:00:00,2005-12-01 00:00:00,2006-01-01 00:00:00,2006-02-01 00:00:00,2006-03-01 00:00:00,2006-04-01 00:00:00,2006-05-01 00:00:00,2006-06-01 00:00:00,2006-07-01 00:00:00,2006-08-01 00:00:00,2006-09-01 00:00:00,2006-10-01 00:00:00,2006-11-01 00:00:00,2006-12-01 00:00:00,2007-01-01 00:00:00,2007-02-01 00:00:00,2007-03-01 00:00:00,2007-04-01 00:00:00,2007-05-01 00:00:00,2007-06-01 00:00:00,2007-07-01 00:00:00,2007-08-01 00:00:00,2007-09-01 00:00:00,2007-10-01 00:00:00,2007-11-01 00:00:00,2007-12-01 00:00:00,2008-01-01 00:00:00,2008-02-01 00:00:00,2008-03-01 00:00:00,2008-04-01 00:00:00,2008-05-01 00:00:00,2008-06-01 00:00:00,2008-07-01 00:00:00,2008-08-01 00:00:00,2008-09-01 00:00:00,2008-10-01 00:00:00,2008-11-01 00:00:00,2008-12-01 00:00:00,2009-01-01 00:00:00,2009-02-01 00:00:00,2009-03-01 00:00:00,2009-04-01 00:00:00,2009-05-01 00:00:00,2009-06-01 00:00:00,2009-07-01 00:00:00,2009-08-01 00:00:00,2009-09-01 00:00:00,2009-10-01 00:00:00,2009-11-01 00:00:00,2009-12-01 00:00:00,2010-01-01 00:00:00,2010-02-01 00:00:00,2010-03-01 00:00:00,2010-04-01 00:00:00,2010-05-01 00:00:00,2010-06-01 00:00:00,2010-07-01 00:00:00,2010-08-01 00:00:00,2010-09-01 00:00:00,2010-10-01 00:00:00,2010-11-01 00:00:00,2010-12-01 00:00:00,2011-01-01 00:00:00,2011-02-01 00:00:00,2011-03-01 00:00:00,2011-04-01 00:00:00,2011-05-01 00:00:00,2011-06-01 00:00:00,2011-07-01 00:00:00,2011-08-01 00:00:00,2011-09-01 00:00:00,2011-10-01 00:00:00,2011-11-01 00:00:00,2011-12-01 00:00:00,2012-01-01 00:00:00,2012-02-01 00:00:00,2012-03-01 00:00:00,2012-04-01 00:00:00,2012-05-01 00:00:00,2012-06-01 00:00:00,2012-07-01 00:00:00,2012-08-01 00:00:00,2012-09-01 00:00:00,2012-10-01 00:00:00,2012-11-01 00:00:00,2012-12-01 00:00:00,2013-01-01 00:00:00,2013-02-01 00:00:00,2013-03-01 00:00:00,2013-04-01 00:00:00,2013-05-01 00:00:00,2013-06-01 00:00:00,2013-07-01 00:00:00,2013-08-01 00:00:00,2013-09-01 00:00:00,2013-10-01 00:00:00,2013-11-01 00:00:00,2013-12-01 00:00:00,2014-01-01 00:00:00,2014-02-01 00:00:00,2014-03-01 00:00:00,2014-04-01 00:00:00,2014-05-01 00:00:00,2014-06-01 00:00:00,2014-07-01 00:00:00,2014-08-01 00:00:00,2014-09-01 00:00:00,2014-10-01 00:00:00,2014-11-01 00:00:00,2014-12-01 00:00:00,2015-01-01 00:00:00,2015-02-01 00:00:00,2015-03-01 00:00:00,2015-04-01 00:00:00,2015-05-01 00:00:00,2015-06-01 00:00:00,2015-07-01 00:00:00,2015-08-01 00:00:00,2015-09-01 00:00:00,2015-10-01 00:00:00,2015-11-01 00:00:00,2015-12-01 00:00:00,2016-01-01 00:00:00,2016-02-01 00:00:00,2016-03-01 00:00:00,2016-04-01 00:00:00,2016-05-01 00:00:00,2016-06-01 00:00:00,2016-07-01 00:00:00,2016-08-01 00:00:00,2016-09-01 00:00:00,2016-10-01 00:00:00,2016-11-01 00:00:00,2016-12-01 00:00:00,2017-01-01 00:00:00,2017-02-01 00:00:00,2017-03-01 00:00:00,2017-04-01 00:00:00,2017-05-01 00:00:00,2017-06-01 00:00:00,2017-07-01 00:00:00,2017-08-01 00:00:00,2017-09-01 00:00:00,2017-10-01 00:00:00,2017-11-01 00:00:00,2017-12-01 00:00:00,2018-01-01 00:00:00,2018-02-01 00:00:00,2018-03-01 00:00:00,2018-04-01 00:00:00,2018-05-01 00:00:00,2018-06-01 00:00:00,2018-07-01 00:00:00,2018-08-01 00:00:00,2018-09-01 00:00:00,2018-10-01 00:00:00,2018-11-01 00:00:00,2018-12-01 00:00:00,2019-01-01 00:00:00,2019-02-01 00:00:00,2019-03-01 00:00:00,2019-04-01 00:00:00,2019-05-01 00:00:00,2019-06-01 00:00:00,2019-07-01 00:00:00,2019-08-01 00:00:00,2019-09-01 00:00:00,2019-10-01 00:00:00,2019-11-01 00:00:00,2019-12-01 00:00:00,2020-01-01 00:00:00,2020-02-01 00:00:00,2020-03-01 00:00:00,2020-04-01 00:00:00
1,City of London,E09000001,91449,82202.8,79120.7,77101.2,84409.1,94900.5,110128,112329,104473,108038,117636,127232,108999,93356.7,93706.7,120543,112050,114226,97546.7,114179,108138,98934.2,99706.8,106427,116343,111142,107488,108480,115453,118317,117034,113585,115159,121251,131074,130035,124382,143829,156508,163403,143625,132251,140377,148993,152807,162020,152387,155801,149143,164545,174586,191157,191081,185993,164056,160905,166193,163490,175143,169309,173738,174152,178339,183101,175041,198191,214852,221952,223175,245062,321773,314772,284262,198137,189033,205494,223459,242435,230700,231632,229806,263887,346458,362204,344239,284015,253697,245313,227281,253130,262428,274016,277047,271941,280283,262197,261645,263992,291969,295174,284860,267208,260204,245449,243184,252980,277515,305556,326913,301092,272731,269514,280062,297421,298293,307094,305126,289912,333075,331161,330363,288867,304851,317398,311442,282866,283641,305351,310906,338837,327256,339626,316121,323653,325106,319580,313126,304977,338307,358438,377545,365177,354438,365755,360923,399437,403144,419005,411183,436079,467348,473887,463525,456422,450831,464277,471861,453707,404849,382571,389733,420665,442352,472397,466082,440012,396155,387178,400317,393361,399220,345338,373504,348751,379109,360545,391138,399867,397909,411955,464436,490525,498241,458246,454928,428120,420234,442597,455290,456016,430305,445016,442413,504009,475353,516319,459477,466525,420435,421486,436019,450034,478809,496291,525723,510537,527408,524290,573532,542518,543037,496168,525971,521769,521448,491529,465451,499207,527874,590685,578037,662700,651116,645847,529619,527374,546793,615401,625001,648359,654629,665262,682663,697309,724282,761544,753704,763369,762735,773768,783667,760550,767207,729148,762815,776509,779097,760243,767464,781358,741727,713253,736788,765644,794754,805320,845579,907965,911827,848269,780527,792664,818663,811786,820305,820665,853943,906146,939912,930979,854798,847422,836674,818477,790159,778002,802129,783266,740799,732351,796399,789278,809697,784144,800875,802869,764207,811694,865636,894520,853451,738797,719218,761526,756407,813770,810455,826227,776894,737275,747611,777640,844989,867841
2,Barking & Dagenham,E09000002,50460.2,51085.8,51269,53133.5,53042.2,53700.3,52113.1,52232.2,51471.6,51513.8,50848.7,50945.2,50828.1,51440.7,51907.1,51724,51735.7,50761.4,50621.1,51104.7,51892.7,52533.2,52216,53853.5,54459,55451.5,55004.8,55279.9,54936.9,55286.7,55658.9,56506.7,56306.3,57200.2,57575.3,58025,57559,57360.3,57908.5,59196,60355.8,60582.9,60412.3,60837.4,61485.1,62005.1,62239.8,63487.5,64531.7,64165.9,63528.1,63579.9,64508.3,64704.2,64920.8,65385.3,66003.1,66367.3,67344.4,68812.2,71079.2,72633,73623.6,73800.3,75126,76939.4,78868.7,80150,81760.8,82501.5,82385.5,81726.3,82343.4,83265.9,84057.9,83965.3,85124,86732.5,89194,90461.7,92610,93584.5,95917.5,96712,98713.3,100229,101633,103885,105761,108615,111983,115548,118331,122940,127316,131709,134750,138195,142207,142192,142797,141957,142223,142792,141707,145136,146331,149701,150115,152688,153591,154014,154361,156951,159227,160620,162821,164422,165172,164130,164484,162324,161927,162771,164000,165770,162428,164000,163111,164179,162695,162642,162340,163024,162004,164204,166048,169013,170204,171177,170251,170091,171598,174285,176577,177051,179011,179847,181828,183476,185929,187337,190223,191576,193603,192458,194235,193699,196257,192932,193573,190727,191067,189100,184659,177921,174390,169722,166798,161879,156811,152209,148433,150194,154105,156272,155827,156674,157272,160889,162905,163023,162831,162756,164903,167148,168661,170216,170253,170298,169250,166485,163821,162484,161660,162401,162703,162304,160895,163477,166865,167493,164847,162631,163899,163607,164438,164731,166503,168049,168007,166180,165304,165328,166508,167813,167919,169461,169414,169968,170475,172652,174604,173720,174761,176821,181910,183099,184884,185428,189877,193077,196620,198040,201936,204974,210412,213903,216631,218285,220070,222919,222417,222176,221826,227558,235702,241735,243479,243539,246955,253145,258758,262861,266209,266744,268081,269318,274243,279484,283654,286210,285853,285622,282441,280698,278213,280567,286018,289569,291727,290965,292519,293390,293796,292915,291548,292777,291723,291184,290239,294236,294953,295908,296424,299648,302606,301114,297181,293839,294065,295498,295092,293889,297426,299421,304778,304579,306390,301283,303653,304265,304099,283139
3,Barnet,E09000003,93284.5,93190.2,92247.5,90762.9,90258,90107.2,91441.2,92361.3,93273.1,92567.4,90883.2,91133.9,91111,92429.5,91409.8,92394.2,91058.9,91978.2,92444.1,95516,97489.9,97844.5,97155,97174.3,98558.8,100076,101130,101201,103287,104609,107235,108730,112380,114515,115356,115521,115902,116995,118866,120487,122608,122490,124040,125041,125320,125719,125086,125757,126189,127017,126902,127883,129393,132608,136102,139741,143596,145287,147825,149510,153676,156797,159939,162988,165737,169025,170521,173966,175610,176603,175250,175320,175475,178108,178226,178813,178636,181194,183941,187691,190954,194320,198610,200792,203249,202713,204694,208077,214594,219793,227129,230537,233748,232184,235730,236506,244239,245752,250708,246175,244449,244464,250826,254882,257504,257724,257772,260059,259868,261559,261478,263774,269023,272859,276811,276712,278219,278320,282306,281320,282820,277154,274216,272772,273841,279515,279928,282066,283148,283024,283421,281611,282334,281120,281674,283206,286462,287725,292435,296104,300381,299832,300765,304015,306484,309910,310377,313521,318831,323805,331745,334689,340987,342548,345869,344219,344480,339644,335896,333836,338033,340825,337540,329269,320831,318948,314868,306110,294598,289251,288719,286601,288396,291608,301141,305077,310670,309970,310970,312235,316926,318995,324873,327955,331168,330965,336380,341812,347747,344010,341702,335004,337575,339623,345258,340441,335305,330259,332255,334216,339125,340673,346353,346653,351280,352048,348611,351150,353469,361667,362335,362586,367109,366527,365376,361371,362880,363064,363754,361907,364637,367754,377520,382032,385304,385629,390598,392168,398384,403842,411453,414855,421203,428806,438505,446443,450728,451041,448523,450577,461383,471363,473233,472033,466125,473322,470262,478796,484487,492110,499850,501293,512166,509863,513342,517408,533676,539830,535272,532358,534921,533793,526422,522223,532924,540501,549401,543699,544994,531344,527928,526223,537986,544090,541563,538718,531832,531736,538120,541502,533088,524702,523397,533715,534951,537284,535060,533810,528639,523679,516531,512343,503911,512694,514668,528577,526670,525678,522639,519306,518542,519121,527747,526553
4,Bexley,E09000004,64958.1,64787.9,64367.5,64277.7,63997.1,64252.3,63722.7,64432.6,64509.5,64529.9,63846,63816.9,63996,64503.7,64788,65285.9,65080.7,65119.8,65150.6,65960.2,66500.6,66659.3,66353.8,66486.4,67350.6,67981.2,67823.8,68470.5,69353.5,70764.1,71129.8,72140.7,72830.3,73378.8,73619.6,74630.1,76863.5,78064.9,79062.3,78422.9,79408.3,80321.9,81579.5,81775,82217.2,82767.4,83837.9,83263.5,83063.7,82927.9,83333.7,84266.9,84513.5,85021.2,85713.3,86489.1,88718.6,90657.3,92722,93905.4,94978.5,96820.1,98306.4,99377.6,101274,102654,104526,106696,108170,108290,108062,109084,111194,111439,112505,111829,112377,113776,116938,119312,121239,121901,123381,122434,124283,124611,126576,127714,131293,134081,137176,139794,143736,147674,150898,153740,156081,156971,159465,161244,163925,166075,168190,168928,167863,168104,167061,169878,169115,173114,173004,176036,176749,179977,181015,183350,183688,183939,185354,184354,186454,183915,184119,183311,184686,187768,186667,188106,187908,189435,188695,187080,188013,187236,187450,189194,189827,191156,189338,193378,194017,196532,196838,198996,199813,199940,201599,203224,205848,208174,211318,211462,210593,211457,215171,218432,220086,219349,218909,215954,215616,212632,210800,208152,207084,203008,197920,192879,193105,188785,187076,181653,182455,183344,186841,189657,191210,193417,194444,196623,197737,201284,202291,202739,199919,199807,200251,201935,202870,200657,200647,200352,200374,200399,198333,201059,201338,201073,199899,199485,202298,202907,201377,199523,197427,199186,198638,199593,200116,202550,203974,205197,205409,205919,205592,206956,209192,210776,210530,210864,210206,210388,209984,213354,216048,218834,219391,222076,224321,226519,227503,232024,236204,242495,249853,255183,258619,258267,260539,261988,261751,261296,261084,261865,264488,267393,275330,280371,286281,286190,288718,295744,307550,315289,314140,311889,314431,320636,325381,326878,329408,330194,331943,331025,330066,328824,328858,329046,333651,336980,344041,344517,339808,335705,336239,340598,342096,341254,339632,338476,336410,341480,345693,347531,346151,344681,344172,343667,338708,339186,336680,339330,336981,339324,338346,337523,333340,332920,333657,336302,334765,337760,339215,346840
5,Brent,E09000005,71306.6,72022.3,72015.8,72965.6,73704,74310.5,74127,73547,73789.5,73264.1,72782,72523.7,72806.3,73084.1,72779.8,72369.7,72994.8,73497.6,75551.2,76913.7,78667.1,77990.9,77914.2,78261.6,79664,81213.2,82321.9,82771,82729.7,83876.3,87636.9,90164,91472.6,92208.2,92895.5,94035.6,93746,95171.5,96096.8,97848.8,100109,101400,102925,103240,104174,104399,104827,104375,105461,105818,107528,106234,106089,107313,110807,114279,117070,119229,122663,123398,126785,129605,134098,137261,140113,142654,143702,144148,146654,149447,148553,148529,148306,150110,150628,151874,154762,155900,157755,160832,163139,164317,163992,165833,168671,171147,171357,172097,175552,182500,187986,192243,197198,200451,203800,207775,207790,210608,208885,211477,213799,217834,219436,219191,219051,223658,222469,223823,223971,227110,227753,230879,235298,239200,242024,244169,241685,239922,239703,240567,239247,236620,237428,236872,237562,239887,244437,246147,244752,243405,246766,247157,247766,246055,246766,246980,249086,252877,254617,254297,254399,260294,261574,264329,263524,271086,273226,278703,279638,286921,294878,298465,302371,298208,299353,297571,300895,300462,299020,296954,297339,297161,300839,295776,294673,283265,277453,269258,260421,263886,265889,269542,261460,263297,258776,262863,258999,266586,268663,272443,273218,277315,282686,287902,289076,287809,290683,296378,299864,298963,296776,294081,292494,289551,291692,295596,299164,298660,299866,301268,306604,304678,306240,301760,309545,305248,305560,297525,301924,312586,323765,333734,323625,319367,314304,322171,325756,323825,323031,326444,328625,334341,336232,347721,353282,355725,361041,359846,365190,364592,367414,379175,391225,400902,404164,406619,414028,410328,412969,419643,422944,420874,423954,429921,440209,435951,438513,443363,449823,461860,455425,468584,469516,482555,473554,485099,488299,493629,494641,489421,499182,504665,502654,490418,472373,475608,484944,488416,490062,492335,491003,498192,490673,489039,485285,494515,493882,493621,482967,485434,480836,492743,505028,519754,510930,493489,479104,476356,479106,478494,475430,486253,481803,474821,473849,488784,501533,494770,432188,427126,423161,467145,461398,494455

**2.3. Cleaning the data (part 2)**

You might we have to **rename** a couple columns. How do you do this? The clue's pretty bold...

In [15]:
properties.rename(columns={'Unnamed: 0':'london_borough', pd.NaT: 'id'},inplace=True)
properties.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 48 entries, 1 to 48
Columns: 306 entries, london_borough to 2020-04-01 00:00:00
dtypes: object(306)
memory usage: 115.1+ KB

In [16]:
# how many columns do you have? probably a lot because of the time! Maybe there's awa I can condense this?
len(properties.columns)

306

There are over 300 columns and each represented in months. Can probably condense to just annual prices change.

---

### 2.4.Transforming the data

Remember what Wes McKinney said about tidy data? 

You might need to **melt** your DataFrame here.

In [17]:
properties.head()

,london_borough,id,1995-01-01 00:00:00,1995-02-01 00:00:00,1995-03-01 00:00:00,1995-04-01 00:00:00,1995-05-01 00:00:00,1995-06-01 00:00:00,1995-07-01 00:00:00,1995-08-01 00:00:00,1995-09-01 00:00:00,1995-10-01 00:00:00,1995-11-01 00:00:00,1995-12-01 00:00:00,1996-01-01 00:00:00,1996-02-01 00:00:00,1996-03-01 00:00:00,1996-04-01 00:00:00,1996-05-01 00:00:00,1996-06-01 00:00:00,1996-07-01 00:00:00,1996-08-01 00:00:00,1996-09-01 00:00:00,1996-10-01 00:00:00,1996-11-01 00:00:00,1996-12-01 00:00:00,1997-01-01 00:00:00,1997-02-01 00:00:00,1997-03-01 00:00:00,1997-04-01 00:00:00,1997-05-01 00:00:00,1997-06-01 00:00:00,1997-07-01 00:00:00,1997-08-01 00:00:00,1997-09-01 00:00:00,1997-10-01 00:00:00,1997-11-01 00:00:00,1997-12-01 00:00:00,1998-01-01 00:00:00,1998-02-01 00:00:00,1998-03-01 00:00:00,1998-04-01 00:00:00,1998-05-01 00:00:00,1998-06-01 00:00:00,1998-07-01 00:00:00,1998-08-01 00:00:00,1998-09-01 00:00:00,1998-10-01 00:00:00,1998-11-01 00:00:00,1998-12-01 00:00:00,1999-01-01 00:00:00,1999-02-01 00:00:00,1999-03-01 00:00:00,1999-04-01 00:00:00,1999-05-01 00:00:00,1999-06-01 00:00:00,1999-07-01 00:00:00,1999-08-01 00:00:00,1999-09-01 00:00:00,1999-10-01 00:00:00,1999-11-01 00:00:00,1999-12-01 00:00:00,2000-01-01 00:00:00,2000-02-01 00:00:00,2000-03-01 00:00:00,2000-04-01 00:00:00,2000-05-01 00:00:00,2000-06-01 00:00:00,2000-07-01 00:00:00,2000-08-01 00:00:00,2000-09-01 00:00:00,2000-10-01 00:00:00,2000-11-01 00:00:00,2000-12-01 00:00:00,2001-01-01 00:00:00,2001-02-01 00:00:00,2001-03-01 00:00:00,2001-04-01 00:00:00,2001-05-01 00:00:00,2001-06-01 00:00:00,2001-07-01 00:00:00,2001-08-01 00:00:00,2001-09-01 00:00:00,2001-10-01 00:00:00,2001-11-01 00:00:00,2001-12-01 00:00:00,2002-01-01 00:00:00,2002-02-01 00:00:00,2002-03-01 00:00:00,2002-04-01 00:00:00,2002-05-01 00:00:00,2002-06-01 00:00:00,2002-07-01 00:00:00,2002-08-01 00:00:00,2002-09-01 00:00:00,2002-10-01 00:00:00,2002-11-01 00:00:00,2002-12-01 00:00:00,2003-01-01 00:00:00,2003-02-01 00:00:00,2003-03-01 00:00:00,2003-04-01 00:00:00,2003-05-01 00:00:00,2003-06-01 00:00:00,2003-07-01 00:00:00,2003-08-01 00:00:00,2003-09-01 00:00:00,2003-10-01 00:00:00,2003-11-01 00:00:00,2003-12-01 00:00:00,2004-01-01 00:00:00,2004-02-01 00:00:00,2004-03-01 00:00:00,2004-04-01 00:00:00,2004-05-01 00:00:00,2004-06-01 00:00:00,2004-07-01 00:00:00,2004-08-01 00:00:00,2004-09-01 00:00:00,2004-10-01 00:00:00,2004-11-01 00:00:00,2004-12-01 00:00:00,2005-01-01 00:00:00,2005-02-01 00:00:00,2005-03-01 00:00:00,2005-04-01 00:00:00,2005-05-01 00:00:00,2005-06-01 00:00:00,2005-07-01 00:00:00,2005-08-01 00:00:00,2005-09-01 00:00:00,2005-10-01 00:00:00,2005-11-01 00:00:00,2005-12-01 00:00:00,2006-01-01 00:00:00,2006-02-01 00:00:00,2006-03-01 00:00:00,2006-04-01 00:00:00,2006-05-01 00:00:00,2006-06-01 00:00:00,2006-07-01 00:00:00,2006-08-01 00:00:00,2006-09-01 00:00:00,2006-10-01 00:00:00,2006-11-01 00:00:00,2006-12-01 00:00:00,2007-01-01 00:00:00,2007-02-01 00:00:00,2007-03-01 00:00:00,2007-04-01 00:00:00,2007-05-01 00:00:00,2007-06-01 00:00:00,2007-07-01 00:00:00,2007-08-01 00:00:00,2007-09-01 00:00:00,2007-10-01 00:00:00,2007-11-01 00:00:00,2007-12-01 00:00:00,2008-01-01 00:00:00,2008-02-01 00:00:00,2008-03-01 00:00:00,2008-04-01 00:00:00,2008-05-01 00:00:00,2008-06-01 00:00:00,2008-07-01 00:00:00,2008-08-01 00:00:00,2008-09-01 00:00:00,2008-10-01 00:00:00,2008-11-01 00:00:00,2008-12-01 00:00:00,2009-01-01 00:00:00,2009-02-01 00:00:00,2009-03-01 00:00:00,2009-04-01 00:00:00,2009-05-01 00:00:00,2009-06-01 00:00:00,2009-07-01 00:00:00,2009-08-01 00:00:00,2009-09-01 00:00:00,2009-10-01 00:00:00,2009-11-01 00:00:00,2009-12-01 00:00:00,2010-01-01 00:00:00,2010-02-01 00:00:00,2010-03-01 00:00:00,2010-04-01 00:00:00,2010-05-01 00:00:00,2010-06-01 00:00:00,2010-07-01 00:00:00,2010-08-01 00:00:00,2010-09-01 00:00:00,2010-10-01 00:00:00,2010-11-01 00:00:00,2010-12-01 00:00:00,2011-01-01 00:00:00,2011-02-01 00:00:00,2011-03-01 00:00:00,2011-04-01 00:00:00,2011-05-01 00:00:00,2011-06-01 00:00:00,2011-07-01 00:00:00,2011-08-01 00:00:00,2011-09-01 00:00:00,2011-10-01 00:00:00,2011-11-01 00:00:00,2011-12-01 00:00:00,2012-01-01 00:00:00,2012-02-01 00:00:00,2012-03-01 00:00:00,2012-04-01 00:00:00,2012-05-01 00:00:00,2012-06-01 00:00:00,2012-07-01 00:00:00,2012-08-01 00:00:00,2012-09-01 00:00:00,2012-10-01 00:00:00,2012-11-01 00:00:00,2012-12-01 00:00:00,2013-01-01 00:00:00,2013-02-01 00:00:00,2013-03-01 00:00:00,2013-04-01 00:00:00,2013-05-01 00:00:00,2013-06-01 00:00:00,2013-07-01 00:00:00,2013-08-01 00:00:00,2013-09-01 00:00:00,2013-10-01 00:00:00,2013-11-01 00:00:00,2013-12-01 00:00:00,2014-01-01 00:00:00,2014-02-01 00:00:00,2014-03-01 00:00:00,2014-04-01 00:00:00,2014-05-01 00:00:00,2014-06-01 00:00:00,2014-07-01 00:00:00,2014-08-01 00:00:00,2014-09-01 00:00:00,2014-10-01 00:00:00,2014-11-01 00:00:00,2014-12-01 00:00:00,2015-01-01 00:00:00,2015-02-01 00:00:00,2015-03-01 00:00:00,2015-04-01 00:00:00,2015-05-01 00:00:00,2015-06-01 00:00:00,2015-07-01 00:00:00,2015-08-01 00:00:00,2015-09-01 00:00:00,2015-10-01 00:00:00,2015-11-01 00:00:00,2015-12-01 00:00:00,2016-01-01 00:00:00,2016-02-01 00:00:00,2016-03-01 00:00:00,2016-04-01 00:00:00,2016-05-01 00:00:00,2016-06-01 00:00:00,2016-07-01 00:00:00,2016-08-01 00:00:00,2016-09-01 00:00:00,2016-10-01 00:00:00,2016-11-01 00:00:00,2016-12-01 00:00:00,2017-01-01 00:00:00,2017-02-01 00:00:00,2017-03-01 00:00:00,2017-04-01 00:00:00,2017-05-01 00:00:00,2017-06-01 00:00:00,2017-07-01 00:00:00,2017-08-01 00:00:00,2017-09-01 00:00:00,2017-10-01 00:00:00,2017-11-01 00:00:00,2017-12-01 00:00:00,2018-01-01 00:00:00,2018-02-01 00:00:00,2018-03-01 00:00:00,2018-04-01 00:00:00,2018-05-01 00:00:00,2018-06-01 00:00:00,2018-07-01 00:00:00,2018-08-01 00:00:00,2018-09-01 00:00:00,2018-10-01 00:00:00,2018-11-01 00:00:00,2018-12-01 00:00:00,2019-01-01 00:00:00,2019-02-01 00:00:00,2019-03-01 00:00:00,2019-04-01 00:00:00,2019-05-01 00:00:00,2019-06-01 00:00:00,2019-07-01 00:00:00,2019-08-01 00:00:00,2019-09-01 00:00:00,2019-10-01 00:00:00,2019-11-01 00:00:00,2019-12-01 00:00:00,2020-01-01 00:00:00,2020-02-01 00:00:00,2020-03-01 00:00:00,2020-04-01 00:00:00
1,City of London,E09000001,91449,82202.8,79120.7,77101.2,84409.1,94900.5,110128,112329,104473,108038,117636,127232,108999,93356.7,93706.7,120543,112050,114226,97546.7,114179,108138,98934.2,99706.8,106427,116343,111142,107488,108480,115453,118317,117034,113585,115159,121251,131074,130035,124382,143829,156508,163403,143625,132251,140377,148993,152807,162020,152387,155801,149143,164545,174586,191157,191081,185993,164056,160905,166193,163490,175143,169309,173738,174152,178339,183101,175041,198191,214852,221952,223175,245062,321773,314772,284262,198137,189033,205494,223459,242435,230700,231632,229806,263887,346458,362204,344239,284015,253697,245313,227281,253130,262428,274016,277047,271941,280283,262197,261645,263992,291969,295174,284860,267208,260204,245449,243184,252980,277515,305556,326913,301092,272731,269514,280062,297421,298293,307094,305126,289912,333075,331161,330363,288867,304851,317398,311442,282866,283641,305351,310906,338837,327256,339626,316121,323653,325106,319580,313126,304977,338307,358438,377545,365177,354438,365755,360923,399437,403144,419005,411183,436079,467348,473887,463525,456422,450831,464277,471861,453707,404849,382571,389733,420665,442352,472397,466082,440012,396155,387178,400317,393361,399220,345338,373504,348751,379109,360545,391138,399867,397909,411955,464436,490525,498241,458246,454928,428120,420234,442597,455290,456016,430305,445016,442413,504009,475353,516319,459477,466525,420435,421486,436019,450034,478809,496291,525723,510537,527408,524290,573532,542518,543037,496168,525971,521769,521448,491529,465451,499207,527874,590685,578037,662700,651116,645847,529619,527374,546793,615401,625001,648359,654629,665262,682663,697309,724282,761544,753704,763369,762735,773768,783667,760550,767207,729148,762815,776509,779097,760243,767464,781358,741727,713253,736788,765644,794754,805320,845579,907965,911827,848269,780527,792664,818663,811786,820305,820665,853943,906146,939912,930979,854798,847422,836674,818477,790159,778002,802129,783266,740799,732351,796399,789278,809697,784144,800875,802869,764207,811694,865636,894520,853451,738797,719218,761526,756407,813770,810455,826227,776894,737275,747611,777640,844989,867841
2,Barking & Dagenham,E09000002,50460.2,51085.8,51269,53133.5,53042.2,53700.3,52113.1,52232.2,51471.6,51513.8,50848.7,50945.2,50828.1,51440.7,51907.1,51724,51735.7,50761.4,50621.1,51104.7,51892.7,52533.2,52216,53853.5,54459,55451.5,55004.8,55279.9,54936.9,55286.7,55658.9,56506.7,56306.3,57200.2,57575.3,58025,57559,57360.3,57908.5,59196,60355.8,60582.9,60412.3,60837.4,61485.1,62005.1,62239.8,63487.5,64531.7,64165.9,63528.1,63579.9,64508.3,64704.2,64920.8,65385.3,66003.1,66367.3,67344.4,68812.2,71079.2,72633,73623.6,73800.3,75126,76939.4,78868.7,80150,81760.8,82501.5,82385.5,81726.3,82343.4,83265.9,84057.9,83965.3,85124,86732.5,89194,90461.7,92610,93584.5,95917.5,96712,98713.3,100229,101633,103885,105761,108615,111983,115548,118331,122940,127316,131709,134750,138195,142207,142192,142797,141957,142223,142792,141707,145136,146331,149701,150115,152688,153591,154014,154361,156951,159227,160620,162821,164422,165172,164130,164484,162324,161927,162771,164000,165770,162428,164000,163111,164179,162695,162642,162340,163024,162004,164204,166048,169013,170204,171177,170251,170091,171598,174285,176577,177051,179011,179847,181828,183476,185929,187337,190223,191576,193603,192458,194235,193699,196257,192932,193573,190727,191067,189100,184659,177921,174390,169722,166798,161879,156811,152209,148433,150194,154105,156272,155827,156674,157272,160889,162905,163023,162831,162756,164903,167148,168661,170216,170253,170298,169250,166485,163821,162484,161660,162401,162703,162304,160895,163477,166865,167493,164847,162631,163899,163607,164438,164731,166503,168049,168007,166180,165304,165328,166508,167813,167919,169461,169414,169968,170475,172652,174604,173720,174761,176821,181910,183099,184884,185428,189877,193077,196620,198040,201936,204974,210412,213903,216631,218285,220070,222919,222417,222176,221826,227558,235702,241735,243479,243539,246955,253145,258758,262861,266209,266744,268081,269318,274243,279484,283654,286210,285853,285622,282441,280698,278213,280567,286018,289569,291727,290965,292519,293390,293796,292915,291548,292777,291723,291184,290239,294236,294953,295908,296424,299648,302606,301114,297181,293839,294065,295498,295092,293889,297426,299421,304778,304579,306390,301283,303653,304265,304099,283139
3,Barnet,E09000003,93284.5,93190.2,92247.5,90762.9,90258,90107.2,91441.2,92361.3,93273.1,92567.4,90883.2,91133.9,91111,92429.5,91409.8,92394.2,91058.9,91978.2,92444.1,95516,97489.9,97844.5,97155,97174.3,98558.8,100076,101130,101201,103287,104609,107235,108730,112380,114515,115356,115521,115902,116995,118866,120487,122608,122490,124040,125041,125320,125719,125086,125757,126189,127017,126902,127883,129393,132608,136102,139741,143596,145287,147825,149510,153676,156797,159939,162988,165737,169025,170521,173966,175610,176603,175250,175320,175475,178108,178226,178813,178636,181194,183941,187691,190954,194320,198610,200792,203249,202713,204694,208077,214594,219793,227129,230537,233748,232184,235730,236506,244239,245752,250708,246175,244449,244464,250826,254882,257504,257724,257772,260059,259868,261559,261478,263774,269023,272859,276811,276712,278219,278320,282306,281320,282820,277154,274216,272772,273841,279515,279928,282066,283148,283024,283421,281611,282334,281120,281674,283206,286462,287725,292435,296104,300381,299832,300765,304015,306484,309910,310377,313521,318831,323805,331745,334689,340987,342548,345869,344219,344480,339644,335896,333836,338033,340825,337540,329269,320831,318948,314868,306110,294598,289251,288719,286601,288396,291608,301141,305077,310670,309970,310970,312235,316926,318995,324873,327955,331168,330965,336380,341812,347747,344010,341702,335004,337575,339623,345258,340441,335305,330259,332255,334216,339125,340673,346353,346653,351280,352048,348611,351150,353469,361667,362335,362586,367109,366527,365376,361371,362880,363064,363754,361907,364637,367754,377520,382032,385304,385629,390598,392168,398384,403842,411453,414855,421203,428806,438505,446443,450728,451041,448523,450577,461383,471363,473233,472033,466125,473322,470262,478796,484487,492110,499850,501293,512166,509863,513342,517408,533676,539830,535272,532358,534921,533793,526422,522223,532924,540501,549401,543699,544994,531344,527928,526223,537986,544090,541563,538718,531832,531736,538120,541502,533088,524702,523397,533715,534951,537284,535060,533810,528639,523679,516531,512343,503911,512694,514668,528577,526670,525678,522639,519306,518542,519121,527747,526553
4,Bexley,E09000004,64958.1,64787.9,64367.5,64277.7,63997.1,64252.3,63722.7,64432.6,64509.5,64529.9,63846,63816.9,63996,64503.7,64788,65285.9,65080.7,65119.8,65150.6,65960.2,66500.6,66659.3,66353.8,66486.4,67350.6,67981.2,67823.8,68470.5,69353.5,70764.1,71129.8,72140.7,72830.3,73378.8,73619.6,74630.1,76863.5,78064.9,79062.3,78422.9,79408.3,80321.9,81579.5,81775,82217.2,82767.4,83837.9,83263.5,83063.7,82927.9,83333.7,84266.9,84513.5,85021.2,85713.3,86489.1,88718.6,90657.3,92722,93905.4,94978.5,96820.1,98306.4,99377.6,101274,102654,104526,106696,108170,108290,108062,109084,111194,111439,112505,111829,112377,113776,116938,119312,121239,121901,123381,122434,124283,124611,126576,127714,131293,134081,137176,139794,143736,147674,150898,153740,156081,156971,159465,161244,163925,166075,168190,168928,167863,168104,167061,169878,169115,173114,173004,176036,176749,179977,181015,183350,183688,183939,185354,184354,186454,183915,184119,183311,184686,187768,186667,188106,187908,189435,188695,187080,188013,187236,187450,189194,189827,191156,189338,193378,194017,196532,196838,198996,199813,199940,201599,203224,205848,208174,211318,211462,210593,211457,215171,218432,220086,219349,218909,215954,215616,212632,210800,208152,207084,203008,197920,192879,193105,188785,187076,181653,182455,183344,186841,189657,191210,193417,194444,196623,197737,201284,202291,202739,199919,199807,200251,201935,202870,200657,200647,200352,200374,200399,198333,201059,201338,201073,199899,199485,202298,202907,201377,199523,197427,199186,198638,199593,200116,202550,203974,205197,205409,205919,205592,206956,209192,210776,210530,210864,210206,210388,209984,213354,216048,218834,219391,222076,224321,226519,227503,232024,236204,242495,249853,255183,258619,258267,260539,261988,261751,261296,261084,261865,264488,267393,275330,280371,286281,286190,288718,295744,307550,315289,314140,311889,314431,320636,325381,326878,329408,330194,331943,331025,330066,328824,328858,329046,333651,336980,344041,344517,339808,335705,336239,340598,342096,341254,339632,338476,336410,341480,345693,347531,346151,344681,344172,343667,338708,339186,336680,339330,336981,339324,338346,337523,333340,332920,333657,336302,334765,337760,339215,346840
5,Brent,E09000005,71306.6,72022.3,72015.8,72965.6,73704,74310.5,74127,73547,73789.5,73264.1,72782,72523.7,72806.3,73084.1,72779.8,72369.7,72994.8,73497.6,75551.2,76913.7,78667.1,77990.9,77914.2,78261.6,79664,81213.2,82321.9,82771,82729.7,83876.3,87636.9,90164,91472.6,92208.2,92895.5,94035.6,93746,95171.5,96096.8,97848.8,100109,101400,102925,103240,104174,104399,104827,104375,105461,105818,107528,106234,106089,107313,110807,114279,117070,119229,122663,123398,126785,129605,134098,137261,140113,142654,143702,144148,146654,149447,148553,148529,148306,150110,150628,151874,154762,155900,157755,160832,163139,164317,163992,165833,168671,171147,171357,172097,175552,182500,187986,192243,197198,200451,203800,207775,207790,210608,208885,211477,213799,217834,219436,219191,219051,223658,222469,223823,223971,227110,227753,230879,235298,239200,242024,244169,241685,239922,239703,240567,239247,236620,237428,236872,237562,239887,244437,246147,244752,243405,246766,247157,247766,246055,246766,246980,249086,252877,254617,254297,254399,260294,261574,264329,263524,271086,273226,278703,279638,286921,294878,298465,302371,298208,299353,297571,300895,300462,299020,296954,297339,297161,300839,295776,294673,283265,277453,269258,260421,263886,265889,269542,261460,263297,258776,262863,258999,266586,268663,272443,273218,277315,282686,287902,289076,287809,290683,296378,299864,298963,296776,294081,292494,289551,291692,295596,299164,298660,299866,301268,306604,304678,306240,301760,309545,305248,305560,297525,301924,312586,323765,333734,323625,319367,314304,322171,325756,323825,323031,326444,328625,334341,336232,347721,353282,355725,361041,359846,365190,364592,367414,379175,391225,400902,404164,406619,414028,410328,412969,419643,422944,420874,423954,429921,440209,435951,438513,443363,449823,461860,455425,468584,469516,482555,473554,485099,488299,493629,494641,489421,499182,504665,502654,490418,472373,475608,484944,488416,490062,492335,491003,498192,490673,489039,485285,494515,493882,493621,482967,485434,480836,492743,505028,519754,510930,493489,479104,476356,479106,478494,475430,486253,481803,474821,473849,488784,501533,494770,432188,427126,423161,467145,461398,494455

> It's senseless and not smart to have all the dates in multiple columns like these. Use melt to gather all the columns into rows!

In [18]:
clean_data = pd.melt(properties,
        id_vars = ['london_borough','id'])
clean_data.head()

       london_borough         id          0    value
0      City of London  E09000001 1995-01-01    91449
1  Barking & Dagenham  E09000002 1995-01-01  50460.2
2              Barnet  E09000003 1995-01-01  93284.5
3              Bexley  E09000004 1995-01-01  64958.1
4               Brent  E09000005 1995-01-01  71306.6

Remember to make sure your column data types are all correct. Average prices, for example, should be floating point numbers...

In [21]:
clean_data.dtypes

london_borough            object
id                        object
0                 datetime64[ns]
value                     object
dtype: object

In [22]:
# rename columns
clean_data.rename(columns={0:'date','value':'average_price'},inplace=True)
clean_data.head()

       london_borough         id       date average_price
0      City of London  E09000001 1995-01-01         91449
1  Barking & Dagenham  E09000002 1995-01-01       50460.2
2              Barnet  E09000003 1995-01-01       93284.5
3              Bexley  E09000004 1995-01-01       64958.1
4               Brent  E09000005 1995-01-01       71306.6

In [23]:
# change avg price to float
clean_data['average_price'] = pd.to_numeric(clean_data['average_price'])
clean_data.dtypes

london_borough            object
id                        object
date              datetime64[ns]
average_price            float64
dtype: object

In [24]:
clean_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14592 entries, 0 to 14591
Data columns (total 4 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   london_borough  14592 non-null  object
 1   id              13680 non-null  object
 2   date            14592 non-null  datetime64[ns]
 3   average_price   13680 non-null  float64
dtypes: datetime64[ns](1), float64(1), object(2)
memory usage: 456.1+ KB

In [25]:
clean_data.head()

       london_borough         id       date  average_price
0      City of London  E09000001 1995-01-01    91448.98487
1  Barking & Dagenham  E09000002 1995-01-01    50460.22660
2              Barnet  E09000003 1995-01-01    93284.51832
3              Bexley  E09000004 1995-01-01    64958.09036
4               Brent  E09000005 1995-01-01    71306.56698

In [40]:
clean_data.isnull().count()

london_borough    14592
id                14592
date              14592
average_price     14592
dtype: int64

---

In [38]:
clean_data.head(10)

       london_borough         id       date  average_price
0      City of London  E09000001 1995-01-01    91448.98487
1  Barking & Dagenham  E09000002 1995-01-01    50460.22660
2              Barnet  E09000003 1995-01-01    93284.51832
3              Bexley  E09000004 1995-01-01    64958.09036
4               Brent  E09000005 1995-01-01    71306.56698
5             Bromley  E09000006 1995-01-01    81671.47692
6              Camden  E09000007 1995-01-01   120932.88810
7             Croydon  E09000008 1995-01-01    69158.16225
8              Ealing  E09000009 1995-01-01    79885.89069
9             Enfield  E09000010 1995-01-01    72514.69096

**2.5. Cleaning the data (part 3)**

Do we have an equal number of observations in the ID, Average Price, Month, and London Borough columns? Remember that there are only 32 London Boroughs. How many entries do you have in that column? 

**Check out the contents of the London Borough column, and if you find null values, get rid of them however you see fit.**

In [35]:
clean_data.count()

london_borough    14592
id                13680
date              14592
average_price     13680
dtype: int64

In [33]:
clean_data['london_borough'].unique()

array(['City of London', 'Barking & Dagenham', 'Barnet', 'Bexley',
       'Brent', 'Bromley', 'Camden', 'Croydon', 'Ealing', 'Enfield',
       'Greenwich', 'Hackney', 'Hammersmith & Fulham', 'Haringey',
       'Harrow', 'Havering', 'Hillingdon', 'Hounslow', 'Islington',
       'Kensington & Chelsea', 'Kingston upon Thames', 'Lambeth',
       'Lewisham', 'Merton', 'Newham', 'Redbridge',
       'Richmond upon Thames', 'Southwark', 'Sutton', 'Tower Hamlets',
       'Waltham Forest', 'Wandsworth', 'Westminster', 'Unnamed: 34',
       'Inner London', 'Outer London', 'Unnamed: 37', 'NORTH EAST',
       'NORTH WEST', 'YORKS & THE HUMBER', 'EAST MIDLANDS',
       'WEST MIDLANDS', 'EAST OF ENGLAND', 'LONDON', 'SOUTH EAST',
       'SOUTH WEST', 'Unnamed: 47', 'England'], dtype=object)

> Not all of these are boroughs! Here are the boroughs for reference:

In [42]:
# inner boroughs
inner = ["Camden"
,"Greenwich"
,"Hackney"
,"Hammersmith and Fulham"
,"Islington"
,"Kensington and Chelsea"
,"Lambeth"
,"Lewisham"
,"Southwark"
,"Tower Hamlets"
,"Wandsworth"
,"Westminster"]

# outer 
outer = ["Barking and Dagenham",
"Barnet",
"Bexley",
"Brent",
"Bromley",
"Croydon",
"Ealing",
"Enfield",
"Haringey",
"Harrow",
"Havering",
"Hillingdon",
"Hounslow",
"Kingston upon Thames",
"Merton",
"Newham",
"Redbridge",
"Richmond upon Thames",
"Sutton",
"Waltham Forest"]

In [62]:
all_boroughs = inner + outer + ['City of London','Barking & Dagenham', 
                               'Hammersmith & Fulham','Kensington & Chelsea',
                               'Inner London','Outer London']
not_a_borough = []
current_boroughs = list(clean_data['london_borough'].unique())

In [63]:
for item in current_boroughs:
    if item not in all_boroughs:
        not_a_borough.append(item)

In [68]:
# These need to be removed from your dataframe!
not_a_borough

['Unnamed: 34',
 'Unnamed: 37',
 'NORTH EAST',
 'NORTH WEST',
 'YORKS & THE HUMBER',
 'EAST MIDLANDS',
 'WEST MIDLANDS',
 'EAST OF ENGLAND',
 'LONDON',
 'SOUTH EAST',
 'SOUTH WEST',
 'Unnamed: 47',
 'England']

Investigate these!

In [75]:
clean_data[clean_data['london_borough'] == 'Unnamed: 34'].head()

    london_borough   id       date  average_price
33     Unnamed: 34  NaN 1995-01-01            NaN
81     Unnamed: 34  NaN 1995-02-01            NaN
129    Unnamed: 34  NaN 1995-03-01            NaN
177    Unnamed: 34  NaN 1995-04-01            NaN
225    Unnamed: 34  NaN 1995-05-01            NaN

In [76]:
clean_data[clean_data['london_borough'] =='Unnamed: 37'].head()

    london_borough   id       date  average_price
36     Unnamed: 37  NaN 1995-01-01            NaN
84     Unnamed: 37  NaN 1995-02-01            NaN
132    Unnamed: 37  NaN 1995-03-01            NaN
180    Unnamed: 37  NaN 1995-04-01            NaN
228    Unnamed: 37  NaN 1995-05-01            NaN

In [77]:
clean_data[clean_data['london_borough'] =='Unnamed: 47'].head()

    london_borough   id       date  average_price
46     Unnamed: 47  NaN 1995-01-01            NaN
94     Unnamed: 47  NaN 1995-02-01            NaN
142    Unnamed: 47  NaN 1995-03-01            NaN
190    Unnamed: 47  NaN 1995-04-01            NaN
238    Unnamed: 47  NaN 1995-05-01            NaN

These can be dropped.

In [91]:
# for the other features that are not boroughs, check if they have a unique ID
# if there's NaNs instead, drop those
clean_data = clean_data.dropna()

In [93]:
clean_data.shape

(13680, 4)

In [94]:
clean_data.count()

london_borough    13680
id                13680
date              13680
average_price     13680
dtype: int64

In [95]:
clean_data.head()

       london_borough         id       date  average_price
0      City of London  E09000001 1995-01-01    91448.98487
1  Barking & Dagenham  E09000002 1995-01-01    50460.22660
2              Barnet  E09000003 1995-01-01    93284.51832
3              Bexley  E09000004 1995-01-01    64958.09036
4               Brent  E09000005 1995-01-01    71306.56698

**2.6. Visualizing the data**

To visualize the data, why not subset on a particular London Borough? Maybe do a line plot of Month against Average Price?

To limit the number of data points you have, you might want to extract the year from every month value your *Month* column. 

To this end, you *could* apply a ***lambda function***. Your logic could work as follows:
1. look through the `Month` column
2. extract the year from each individual value in that column 
3. store that corresponding year as separate column. 

Whether you go ahead with this is up to you. Just so long as you answer our initial brief: which boroughs of London have seen the greatest house price increase, on average, over the past two decades?

**3. Modeling**

Consider creating a function that will calculate a ratio of house prices, comparing the price of a house in 2018 to the price in 1998.

Consider calling this function create_price_ratio.

You'd want this function to:
1. Take a filter of dfg, specifically where this filter constrains the London_Borough, as an argument. For example, one admissible argument should be: dfg[dfg['London_Borough']=='Camden'].
2. Get the Average Price for that Borough, for the years 1998 and 2018.
4. Calculate the ratio of the Average Price for 1998 divided by the Average Price for 2018.
5. Return that ratio.

Once you've written this function, you ultimately want to use it to iterate through all the unique London_Boroughs and work out the ratio capturing the difference of house prices between 1998 and 2018.

Bear in mind: you don't have to write a function like this if you don't want to. If you can solve the brief otherwise, then great! 

***Hint***: This section should test the skills you acquired in:
- Python Data Science Toolbox - Part One, all modules

### 4. Conclusion
What can you conclude? Type out your conclusion below. 

Look back at your notebook. Think about how you might summarize what you have done, and prepare a quick presentation on it to your mentor at your next meeting. 

We hope you enjoyed this practical project. It should have consolidated your data hygiene and pandas skills by looking at a real-world problem involving just the kind of dataset you might encounter as a budding data scientist. Congratulations, and looking forward to seeing you at the next step in the course!