# Springboard Data Science Career Track Unit 4 Challenge - Tier 3 Complete

## Objectives
Hey! Great job getting through those challenging DataCamp courses. You're learning a lot in a short span of time. 

In this notebook, you're going to apply the skills you've been learning, bridging the gap between the controlled environment of DataCamp and the *slightly* messier work that data scientists do with actual datasets!

Here’s the mystery we’re going to solve: ***which boroughs of London have seen the greatest increase in housing prices, on average, over the last TWO DECADES?***


A borough is just a fancy word for district. You may be familiar with the five boroughs of New York… well, there are 32 boroughs within Greater London [(here's some info for the curious)](https://en.wikipedia.org/wiki/London_boroughs). Some of them are more desirable areas to live in, and the data will reflect that with a greater rise in housing prices.

***This is the Tier 3 notebook, which means it's not filled in at all: we'll just give you the skeleton of a project, the brief and the data. It's up to you to play around with it and see what you can find out! Good luck! If you struggle, feel free to look at easier tiers for help; but try to dip in and out of them, as the more independent work you do, the better it is for your learning!***

This challenge will make use of only what you learned in the following DataCamp courses: 
- Prework courses (Introduction to Python for Data Science, Intermediate Python for Data Science)
- Data Types for Data Science
- Python Data Science Toolbox (Part One) 
- pandas Foundations
- Manipulating DataFrames with pandas
- Merging DataFrames with pandas

Of the tools, techniques and concepts in the above DataCamp courses, this challenge should require the application of the following: 
- **pandas**
    - **data ingestion and inspection** (pandas Foundations, Module One) 
    - **exploratory data analysis** (pandas Foundations, Module Two)
    - **tidying and cleaning** (Manipulating DataFrames with pandas, Module Three) 
    - **transforming DataFrames** (Manipulating DataFrames with pandas, Module One)
    - **subsetting DataFrames with lists** (Manipulating DataFrames with pandas, Module One) 
    - **filtering DataFrames** (Manipulating DataFrames with pandas, Module One) 
    - **grouping data** (Manipulating DataFrames with pandas, Module Four) 
    - **melting data** (Manipulating DataFrames with pandas, Module Three) 
    - **advanced indexing** (Manipulating DataFrames with pandas, Module Four) 
- **matplotlib** (Intermediate Python for Data Science, Module One)
- **fundamental data types** (Data Types for Data Science, Module One) 
- **dictionaries** (Intermediate Python for Data Science, Module Two)
- **handling dates and times** (Data Types for Data Science, Module Four)
- **function definition** (Python Data Science Toolbox - Part One, Module One)
- **default arguments, variable length, and scope** (Python Data Science Toolbox - Part One, Module Two) 
- **lambda functions and error handling** (Python Data Science Toolbox - Part One, Module Four)

## The Data Science Pipeline

This is Tier Three, so we'll get you started. But after that, it's all in your hands! When you feel done with your investigations, look back over what you've accomplished, and prepare a quick presentation of your findings for the next mentor meeting. 

Data Science is magical. In this case study, you'll get to apply some complex machine learning algorithms. But as  [David Spiegelhalter](https://www.youtube.com/watch?v=oUs1uvsz0Ok) reminds us, there is no substitute for simply **taking a really, really good look at the data.** Sometimes, this is all we need to answer our question.

Data Science projects generally adhere to the four stages of Data Science Pipeline:
1. Sourcing and loading 
2. Cleaning, transforming, and visualizing 
3. Modeling 
4. Evaluating and concluding

### 1. Sourcing and Loading 

Any Data Science project kicks off by importing  ***pandas***. The documentation of this wonderful library can be found [here](https://pandas.pydata.org/). As you've seen, pandas is conveniently connected to the [Numpy](http://www.numpy.org/) and [Matplotlib](https://matplotlib.org/) libraries. 

***Hint:*** This part of the data science pipeline will test those skills you acquired in the pandas Foundations course, Module One.

#### 1.1. Importing Libraries

In [1]:
# Let's import the pandas, numpy libraries as pd, and np respectively. 
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt


pd.set_option('display.max_rows', 500)
pd.set_option('display.max_columns', 500)
pd.set_option('display.width', 1000)

#### 1.2.  Loading the data
Your data comes from the [London Datastore](https://data.london.gov.uk/): a free, open-source data-sharing portal for London-oriented datasets.

> **Notes:** Prior to looking at the data, I would investigate the source. Is the source reliable? Why or why not?

In [2]:
# First, make a variable called url_LondonHousePrices, and assign it the following link, enclosed in quotation-marks as a string:
# https://data.london.gov.uk/download/uk-house-price-index/70ac0766-8902-4eb5-aab5-01951aaed773/UK%20House%20price%20index.xls

url_LondonHousePrices = "https://data.london.gov.uk/download/uk-house-price-index/70ac0766-8902-4eb5-aab5-01951aaed773/UK%20House%20price%20index.xls"

# The dataset we're interested in contains the Average prices of the houses, 
# and is actually on a particular sheet of the Excel file. 
# As a result, we need to specify the sheet name in the read_excel() method.
# Put this data into a variable called properties.  
properties = pd.read_excel(url_LondonHousePrices, sheet_name='Average price', index_col=None)

---
### 2. Cleaning, transforming, and visualizing
This second stage is arguably the most important part of any Data Science project. The first thing to do is take a proper look at the data. z

Cleaning forms the majority of this stage, and can be done both before or after Transformation.

> **The end goal of data cleaning is to have tidy data. When data is tidy:** 
    1. Each variable has a column.
    2. Each observation forms a row.

Keep the end goal in mind as you move through this process, every step will take you closer. 



***Hint:*** This part of the data science pipeline should test those skills you acquired in: 
* Intermediate Python for data science, all modules.
- pandas Foundations, all modules. 
- Manipulating DataFrames with pandas, all modules.
- Data Types for Data Science, Module Four.
- Python Data Science Toolbox - Part One, all modules

> ### Workflow

> #### 2.1 Explore your Data
    * df.describe(), df.info()
    * df.columns, df.shape
    * df.head(), df.tail()
    
    Questions:
    1. Summarize the data in your own words. What question are you trying to answer?
    2. Which features/columns are you interested in?
    3. Describe the current df layout. Do the indices make sense?
    
    Be on the lookout for:
    1. nulls
    2. duplicates
    3. outliers

**2.1. Exploring your data** 

Think about your pandas functions for checking out a dataframe.

In [3]:
properties.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 305 entries, 0 to 304
Data columns (total 49 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Unnamed: 0            304 non-null    datetime64[ns]
 1   City of London        305 non-null    object
 2   Barking & Dagenham    305 non-null    object
 3   Barnet                305 non-null    object
 4   Bexley                305 non-null    object
 5   Brent                 305 non-null    object
 6   Bromley               305 non-null    object
 7   Camden                305 non-null    object
 8   Croydon               305 non-null    object
 9   Ealing                305 non-null    object
 10  Enfield               305 non-null    object
 11  Greenwich             305 non-null    object
 12  Hackney               305 non-null    object
 13  Hammersmith & Fulham  305 non-null    object
 14  Haringey              305 non-null    object
 15  Harrow                305 non-null    object
 16  Havering              305 non-null    object
 17  Hillingdon            305 non-null    object
 18  Hounslow              305 non-null    object
 19  Islington             305 non-null    object
 20  Kensington & Chelsea  305 non-null    object
 21  Kingston upon Thames  305 non-null    object
 22  Lambeth               305 non-null    object
 23  Lewisham              305 non-null    object
 24  Merton                305 non-null    object
 25  Newham                305 non-null    object
 26  Redbridge             305 non-null    object
 27  Richmond upon Thames  305 non-null    object
 28  Southwark             305 non-null    object
 29  Sutton                305 non-null    object
 30  Tower Hamlets         305 non-null    object
 31  Waltham Forest        305 non-null    object
 32  Wandsworth            305 non-null    object
 33  Westminster           305 non-null    object
 34  Unnamed: 34           0 non-null      float64
 35  Inner London          305 non-null    object
 36  Outer London          305 non-null    object
 37  Unnamed: 37           0 non-null      float64
 38  NORTH EAST            305 non-null    object
 39  NORTH WEST            305 non-null    object
 40  YORKS & THE HUMBER    305 non-null    object
 41  EAST MIDLANDS         305 non-null    object
 42  WEST MIDLANDS         305 non-null    object
 43  EAST OF ENGLAND       305 non-null    object
 44  LONDON                305 non-null    object
 45  SOUTH EAST            305 non-null    object
 46  SOUTH WEST            305 non-null    object
 47  Unnamed: 47           0 non-null      float64
 48  England               305 non-null    object
dtypes: datetime64[ns](1), float64(3), object(45)
memory usage: 116.9+ KB

In [11]:
# these are the only ones that came back because these are the only "float type"
# the unnamed: 34, 37, 47 refer to the column number (and how they are blank of NaN so
# all in all, these can be dropped)
properties.describe()

       Unnamed: 34  Unnamed: 37  Unnamed: 47
count          0.0          0.0          0.0
mean           NaN          NaN          NaN
std            NaN          NaN          NaN
min            NaN          NaN          NaN
25%            NaN          NaN          NaN
50%            NaN          NaN          NaN
75%            NaN          NaN          NaN
max            NaN          NaN          NaN

In [5]:
properties.head()

  Unnamed: 0 City of London Barking & Dagenham     Barnet     Bexley      Brent    Bromley     Camden    Croydon     Ealing    Enfield  Greenwich    Hackney Hammersmith & Fulham   Haringey     Harrow   Havering Hillingdon   Hounslow  Islington Kensington & Chelsea Kingston upon Thames    Lambeth   Lewisham     Merton     Newham  Redbridge Richmond upon Thames  Southwark     Sutton Tower Hamlets Waltham Forest Wandsworth Westminster  Unnamed: 34 Inner London Outer London  Unnamed: 37 NORTH EAST NORTH WEST YORKS & THE HUMBER EAST MIDLANDS WEST MIDLANDS EAST OF ENGLAND     LONDON SOUTH EAST SOUTH WEST  Unnamed: 47    England
0        NaT      E09000001          E09000002  E09000003  E09000004  E09000005  E09000006  E09000007  E09000008  E09000009  E09000010  E09000011  E09000012            E09000013  E09000014  E09000015  E09000016  E09000017  E09000018  E09000019            E09000020            E09000021  E09000022  E09000023  E09000024  E09000025  E09000026            E09000027  E09000028  E09000029     E09000030      E09000031  E09000032   E09000033          NaN    E13000001    E13000002          NaN  E12000001  E12000002          E12000003     E12000004     E12000005       E12000006  E12000007  E12000008  E12000009          NaN  E92000001
1 1995-01-01          91449            50460.2    93284.5    64958.1    71306.6    81671.5     120933    69158.2    79885.9    72514.7    62300.1    61296.5               124903    76287.6    84769.5    68000.1    73834.8    72231.7    92516.5               182695              80875.8      67771    60491.3    82070.6    53539.3    72189.6               109326    67885.2      71537       59865.2        61319.4      88559      133025          NaN        78252      72958.8          NaN    42076.4    43958.5            44803.4       45544.5       48527.5         56701.6    74435.8    64018.9    54705.2          NaN    53202.8
2 1995-02-01        82202.8            51085.8    93190.2    64787.9    72022.3    81657.6     119509    68951.1    80897.1    73155.2    60993.3    63187.1               122088    78901.2    83396.1    69393.5    75031.1    71051.6    94342.4               182345              81230.1    65381.5    60869.3    79982.7    53153.9    72141.6               111103    64799.1    70893.2       62318.5        60252.1      88641      131468          NaN      75885.7      72937.9          NaN      42572    43925.4            44528.8       46051.6       49341.3         56593.6    72777.9      63715    54356.1          NaN    53096.2
3 1995-03-01        79120.7              51269    92247.5    64367.5    72015.8    81449.3     120282    68712.4    81379.9    72190.4    61377.8    63593.3               120636    78521.9    83416.2      69368    74188.7      72098    93465.9               182879              81111.5    66336.5      60288    80661.7    53458.3    72501.4               107325    65763.3    70306.8       63938.7        60871.1    87124.8      132260          NaN      76591.6      72714.5          NaN    42369.7    44434.9            45200.5       45383.8       49442.2         56171.2    73896.8    64113.6    53583.1          NaN    53201.3
4 1995-04-01        77101.2            53133.5    90762.9    64277.7    72965.6    81124.4     120098      68610    82188.9    71442.9    61927.7    65139.6               121425    79545.6    83567.9    69444.3    73911.4    71890.3    93344.5               184177              81672.8    66388.8      59471    79990.5    54479.8    72228.6               106875    63073.6    69411.9       66233.2        60971.4      87026      133370          NaN      76851.6      72591.9          NaN    42095.8    44267.8            45614.3       46124.2       49455.9         56567.9    74455.3    64623.2      54786          NaN    53590.9

> **Notes:** We are interested only in the 32 boroughs of London. So after cleaning everything, really you drop those. The format of the excel is multi-layered.

- City of London:
    * list of 32 boroughs
- Inner London
    * total mean of list of inner boroughs (12)
- Outer London
    * boroughs (20) 
- England 
    * housing prices overall as whole (use for comparison)
    * inner + outer london total

In [17]:
properties.tail(10)

    Unnamed: 0 City of London Barking & Dagenham  Barnet  Bexley   Brent Bromley  Camden Croydon  Ealing Enfield Greenwich Hackney Hammersmith & Fulham Haringey  Harrow Havering Hillingdon Hounslow Islington Kensington & Chelsea Kingston upon Thames Lambeth Lewisham  Merton  Newham Redbridge Richmond upon Thames Southwark  Sutton Tower Hamlets Waltham Forest Wandsworth  Westminster  Unnamed: 34 Inner London Outer London  Unnamed: 37 NORTH EAST NORTH WEST YORKS & THE HUMBER EAST MIDLANDS WEST MIDLANDS EAST OF ENGLAND  LONDON SOUTH EAST SOUTH WEST  Unnamed: 47 England
295 2019-07-01         756407             297426  514668  338346  473849  434257  890288  365875  475592  388053    397828  555779               725253   550393  446095   367679     398547   397246    629281          1.27544e+06               502895  510045   410983  504702  359106    414968               657619    499663  373534        431290         418743     585174       948507          NaN       569219       421920          NaN     129756     166137             165119        193549        197938          291700  478858     322863     258449          NaN  248652
296 2019-08-01         813770             299421  528577  337523  488784  442189  863171  364540  474627  393033    396858  567269               729659   544194  450373   367502     397385   401911    643335          1.24853e+06               508405  519956   416885  517489  361920    421319               657974    496718  368908        441364         427416     592251       905951          NaN       571439       425263          NaN     131515     167490             165441        195268        200858          290623  472872     323122     258241          NaN  249294
297 2019-09-01         810455             304778  526670  333340  501533  441058  838170  365226  473162  386806    403730  573270               735538   553640  453155   366447     403945   406930    655061          1.23018e+06               504867  520403   420341  515391  368687    414268               648147    507466  372899        447629         432270     605559       922687          NaN       577554       425804          NaN     131952     166796             165407        194808        200969          291944  477779     324357     258751          NaN  249771
298 2019-10-01         826227             304579  525678  332920  494770  439178  804713  364413  477369  392721    401559  566979               719932   554123  453783   367102     403300   413132    645212          1.19044e+06               488211  515947   421258  509006  369972    411874               643769    513615  369917        452040         434921     600642       927735          NaN       574464       424942          NaN     129462     166640             166494        194674        200116          291196  474156     323278     258880          NaN  249152
299 2019-11-01         776894             306390  522639  333657  432188  436080  825336  367585  475492  393255    405337  559758               719751   559426  450109   365861     407706   410071    630659          1.19405e+06               490420  519410   415893  501570  363114    413882               650949    510619  374775        450989         435568     601650       955265          NaN       573932       423311          NaN     129658     165808             164499        194855        200896          288781  468983     322512     256875          NaN  247951
300 2019-12-01         737275             301283  519306  336302  427126  438682  807124  369568  469662  400182    398024  552785               728698   565582  446900   365886     404843   409569    648969          1.23176e+06               487696  521705   413462  500651  360934    424631               655378    505499  372581        456436         437333     605560       960943          NaN       575132       423156          NaN     129504     164893             165818        194553        198644          290814  478576     321972     256577          NaN  248250
301 2020-01-01         747611             303653  518542  334765  423161  435532  815512  371227  466491  390589    396833  558321               740048   563151  447269   362423     406622   410277    667450          1.25104e+06               489690  526270   409749  501370  367017    422633               662919    499906  372982        463719         441446     605540  1.01165e+06          NaN       580408       422509          NaN     128401     165094             164752        196199        202085          290335  478489     323422     257822          NaN  248950
302 2020-02-01         777640             304265  519121  337760  467145  435704  825249  371357  465614  389901    402174  580773               748877   548652  455076   363699     406712   409794    675653          1.31317e+06               486805  524048   414526  500782  376713    422506               658932    499775  373644        473163         437879     610145  1.01658e+06          NaN       586789       424826          NaN     128142     166291             164949        194214        200196          290309  479628     319827     257101          NaN  248232
303 2020-03-01         844989             304099  527747  339215  461398  434625  870107  370872  478565  395082    404658  586842               742876   550296  456568   364658     412593   411748    670075           1.3444e+06               488389  521753   414411  509365  379837    426848               658654    504904  376708        482143         438596     614426  1.01398e+06          NaN       591783       427481          NaN     129047     168161             165685        198284        201369          291356  488185     326701     262444          NaN  251539
304 2020-04-01         867841             283139  526553  346840  494455  443482  870627  386738  502107  400695    389920  551629               719836   547124  465958   378747     405066   396030    706263          1.34895e+06               477450  513397   400987  529857  356915    435763               683248    508543  376808        480984         440354     607227  1.03449e+06          NaN       584234       431880          NaN     125938     167809             165561        200513        202093          295640  480425     327413     255891          NaN  250874

**2.2. Cleaning the data**

You might find you need to transpose your dataframe, check out what its row indexes are, and reset the index. 

You  also might find you need to assign the values of the first row to your column headings  . (Hint: recall the .columns feature of DataFrames, as well as the iloc[] method).

Don't be afraid to use StackOverflow for help  with this.

**2.3. Cleaning the data (part 2)**

You might we have to **rename** a couple columns. How do you do this? The clue's pretty bold...

**2.4.Transforming the data**

Remember what Wes McKinney said about tidy data? 

You might need to **melt** your DataFrame here.

Remember to make sure your column data types are all correct. Average prices, for example, should be floating point numbers...

**2.5. Cleaning the data (part 3)**

Do we have an equal number of observations in the ID, Average Price, Month, and London Borough columns? Remember that there are only 32 London Boroughs. How many entries do you have in that column? 

Check out the contents of the London Borough column, and if you find null values, get rid of them however you see fit.

**2.6. Visualizing the data**

To visualize the data, why not subset on a particular London Borough? Maybe do a line plot of Month against Average Price?

To limit the number of data points you have, you might want to extract the year from every month value your *Month* column. 

To this end, you *could* apply a ***lambda function***. Your logic could work as follows:
1. look through the `Month` column
2. extract the year from each individual value in that column 
3. store that corresponding year as separate column. 

Whether you go ahead with this is up to you. Just so long as you answer our initial brief: which boroughs of London have seen the greatest house price increase, on average, over the past two decades?

**3. Modeling**

Consider creating a function that will calculate a ratio of house prices, comparing the price of a house in 2018 to the price in 1998.

Consider calling this function create_price_ratio.

You'd want this function to:
1. Take a filter of dfg, specifically where this filter constrains the London_Borough, as an argument. For example, one admissible argument should be: dfg[dfg['London_Borough']=='Camden'].
2. Get the Average Price for that Borough, for the years 1998 and 2018.
4. Calculate the ratio of the Average Price for 1998 divided by the Average Price for 2018.
5. Return that ratio.

Once you've written this function, you ultimately want to use it to iterate through all the unique London_Boroughs and work out the ratio capturing the difference of house prices between 1998 and 2018.

Bear in mind: you don't have to write a function like this if you don't want to. If you can solve the brief otherwise, then great! 

***Hint***: This section should test the skills you acquired in:
- Python Data Science Toolbox - Part One, all modules

### 4. Conclusion
What can you conclude? Type out your conclusion below. 

Look back at your notebook. Think about how you might summarize what you have done, and prepare a quick presentation on it to your mentor at your next meeting. 

We hope you enjoyed this practical project. It should have consolidated your data hygiene and pandas skills by looking at a real-world problem involving just the kind of dataset you might encounter as a budding data scientist. Congratulations, and looking forward to seeing you at the next step in the course!